{{#if @root.flags.myFtApiWrite}}
	<form class="n-myft-ui n-myft-ui--instant" method="POST"
		data-myft-ui="instant"
		data-concept-id="{{conceptId}}"
		action="/__myft/api/core/followed/concept/{{conceptId}}?method=put">
		<input type="hidden" value="{{name}}" name="name">
		<input type="hidden" value="{{taxonomy}}" name="taxonomy">
		<button
			aria-label="Get instant alerts for {{name}}"
			aria-pressed="false"
			class="n-myft-ui__button
				{{#variant}} n-myft-ui__button--{{this}}{{/variant}}
				{{#size}} n-myft-ui__button--{{this}}{{/size}}"
			data-alternate-label="Stop instant alerts for {{name}}"
			{{#if alternateText}}
				data-alternate-text="{{alternateText}}"
			{{else}}
				{{#if buttonText}}
					data-alternate-text="{{buttonText}}"
				{{else}}
					data-alternate-text="Instant alerts on"
				{{/if}}
			{{/if}}
			data-concept-id="{{conceptId}}" {{! duplicated here for tracking}}
			data-trackable="instant"
			title="Get instant alerts for {{name}}"
			name="_rel.instant"
			value="true"
			type="submit"
		>{{#if buttonText}}{{buttonText}}{{else}}Instant alerts off{{/if}}</button>
	</form>
{{else}}
	<!-- Instant alert button hidden due to myFtApiWrite being off -->
{{/if}}
