<form class="n-myft-ui n-myft-ui--prefer-group" method="POST"
	data-myft-ui="prefer"
	data-preference-name="{{name}}"
	action="/__myft/api/core/preferred/preference/{{name}}?method=put">
	<fieldset class="n-myft-ui__fieldset">
		{{#if legend}}<legend class="n-myft-ui__legend">{{legend}}</legend>{{/if}}
	{{#each relProperties}}
		<input type="hidden" name="_rel.{{name}}" value="{{value}}">
	{{/each}}
	{{#each options}}
		<button
			type="submit"
			name="{{name}}" value="{{value}}"
			aria-label="{{text}}"
			aria-pressed="{{#if isSelected}}true{{else}}false{{/if}}"
			class="n-myft-ui__button"
			data-alternate-label="{{text}}"
			data-trackable="set-{{../name}}-{{value}}"
		>{{text}}</button>
	{{/each}}
	</fieldset>
</form>
