
{{#if @root.flags.myFTPushNotifications}}
<div class="preference">
	<h3 class="preference__title">Push alerts [Experimental]</h3>
	<form class="myft-ui myft-ui--prefer"
		data-preference-name="push-notifications">
		<button
			type="submit"
			class="myft-ui__button"
			data-trackable="set-push-notifications" disabled
		><span class="myft-ui__core-text">Subscribe</span></button>
		<label class="preference__description">Get push notifications on this device for the most relevant stories in your feed.</label>
	</form>
</div>
{{/if}}
