.o-teaser__syndication-indicator {
	display: none;
	width: 12px;
	height: 12px;
	margin-right: 5px;
}

.o-teaser__syndication-indicator--yes {
	&:after {
		content: 'Download';
		color: white;
		background-color: rgba(0, 0, 0, 0.85);
		padding: 5px;
		border-radius: 5px;
		position: absolute;
		display: none;
		font-size: 16px;
	}

	&:hover:after {
		display: block;
	}
}

.o-teaser__syndication-indicator--verify {
	display: none !important;
}

.o-teaser--hero .o-teaser__syndication-indicator {
	width: 16px;
	height: 16px;
}

.o-teaser--top-story .o-teaser__syndication-indicator,
.article-headline .o-teaser__syndication-indicator {
	width: 18px;
	height: 18px;
}

[data-syndication-user] .o-teaser__syndication-indicator {
	display: inline-block;
}

.syndi__download-options {
	@include nUiZIndexFor('overlay');
	background-color: rgba(black, 0.85);
	border-radius: 5px;
	color: white;
	font-size: 16px;
	padding: 5px 0;
	position: absolute;
	text-align: left;
}

.syndi__link {
	display: block;
	padding: 5px 10px;

	// Override n-skip-link styling
	// (Using n-skip-link lets keyboard-navigating folks use syndication)
	&:hover,
	&:focus {
		background: black;
		position: static;
	}
}

// Only works for cursorable-folks because we’re in hell
.syndi:hover {
	// Override existing syndication styling
	// (We’re doing a staggered roll-out of new syndication)
	&:after {
		display: none;
	}

	// Override n-skip-link styling
	// (Using n-skip-link lets keyboard-navigating folks use syndication)
	// Note this duplication is currently required (including the non-hover
	// one further up)
	.syndi__link {
		background: transparent;
		position: static;
	}
	.syndi__link:hover,
	.syndi__link:focus {
		background: black;
		position: static;
	}
}
