{{#unlessAll data.settings.isAnon data.settings.hideFromAnon}}
	<div class="tour-tip tour-tip--{{data.settings.size}}{{#each data.modifiers}} tour-tip--{{this}}{{/each}}" data-trackable="tour-tip-{{data.id}}">
		<div class="tour-tip__main">
			<div class="tour-tip__text">
				{{#if data.settings.hasTourPageLink}}
					<p class="tour-tip__link">
						<a href="/tour" class="tour-tip__link" data-trackable="tour-link">New hints and tips</a>
					</p>
				{{/if}}
				<div class="tour-tip__standout">{{data.content.title}}</div>
				{{#if data.content.body}}
					<p class="tour-tip__body">{{{data.content.body}}}</p>
				{{/if}}
				{{#ifAll data.content.ctas data.content.ctas.length}}
					{{#unlessAll data.settings.isAnon data.settings.hideCtaFromAnon}}
						{{#each data.content.ctas}}
							<a href="{{{url}}}" class="tour-tip__cta o-buttons o-buttons--standout" data-trackable="cta">{{label}}</a>
						{{/each}}
					{{/unlessAll}}
				{{/ifAll}}
			</div>
			{{#if data.content.imageUrl}}
				<div class="tour-tip__img-container">
					{{#if data.content.imageWidths}}
						{{#nImagePresenter alt=data.content.imageAlt classes="tour-tip__img" widths=data.content.imageWidths sizes=data.content.imageSizes url=data.content.imageUrl}}
							{{> n-image/templates/image}}
						{{/nImagePresenter}}
					{{else}}
						{{#nImagePresenter alt=data.content.imageAlt classes="tour-tip__img" sizes=data.content.imageSizes src=data.content.imageUrl}}
							{{> n-image/templates/image}}
						{{/nImagePresenter}}
					{{/if}}
				</div>
			{{/if}}
		</div>
	</div>
{{/unlessAll}}
