{{#if @root.flags.javascript}}
(function () {
	var classes = document.documentElement.className;
	classes = classes.replace(/\bno-js\b/, 'js');

	// HACK: make the following browsers core as they're unsupported by the polyfill service
	var isSupported = true;

	{{#if @root.flags.forceCoreExperience}}
	var unsupported = {
		'Samsung frankenchromium': function (ua) {
			var android = /Android/.test(ua);
			var samsung = /SamsungBrowser/.test(ua);
			return android && samsung;
		}
	};


	for (var browser in unsupported) {
		if (unsupported[browser](navigator.userAgent)) {
			isSupported = false;
			break;
		}
	}
	{{/if}}

	window.cutsTheMustard = isSupported && (typeof Function.prototype.bind !== 'undefined');

	if (window.cutsTheMustard) {
		classes = classes.replace(/\bcore\b/, 'enhanced');
	}

	document.documentElement.className = classes;
})();
{{else}}
window.cutsTheMustard = false;
{{/if}}
