{{#if @root.flags.javascript}}
var classes = document.documentElement.className;
classes = classes.replace(/\bno-js\b/, 'js');

// HACK: Make FB in-app browser on iOS not cut the mustard, temporarily
var isFBInAppBrowser = /OS [1-9].* like Mac OS X/.test(navigator.userAgent) && /(FBAN|FBAV)/.test(navigator.userAgent);
window.cutsTheMustard = (typeof Function.prototype.bind !== 'undefined') && !isFBInAppBrowser;
if (window.cutsTheMustard) {
	classes = classes.replace(/\bcore\b/, 'enhanced');
}
document.documentElement.className = classes;
{{else}}
window.cutsTheMustard = false;
{{/if}}
