@mixin nUiHeaderMarketingPromo {
	.n-header__marketing-promo {
		background-color: getColor('black-80');
		color: getColor('white');
		display: none;

		&.visible {
			@include oGridRespondTo('M') {
				display: block;
			}
		}

	}

	.n-header__marketing-promo__container {
		display: table;
		height: 50px;
	}

	.n-header__marketing-promo__box {
		@include oTypographySansSize(s);
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		padding-right: 120px;
		background: url('https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Fproduct%2Fpack-shot-next-2.png?source=next&height=100') right top no-repeat;
		background-size: auto 50px;
	}

	.n-header__marketing-promo__link {
		@include oButtons($theme: primary);
		word-spacing: 1px;
	}
}
