<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{template}} demo</title>
		{{>n-ui/js-setup/templates/fire-condition}}
		{{>n-ui/layout/partials/stylesheets}}

		{{#outputBlock 'head'}}{{/outputBlock}}

		<script>
			{{>n-ui/js-setup/templates/ctm}}
			{{>n-ui/typography/enhance-fonts}}
		</script>
	</head>
	<body data-next-is-logged-in="{{@root.anon.userIsLoggedIn}}" data-trackable="page:{{@root.__name}}{{#if @root.trackablePageName}}/{{@root.trackablePageName}}{{/if}}">

	<section id="a11y" data-a11y-test="{{template}}">
		{{{usePartial template}}}
	</section>

	{{>n-ui/js-setup/templates/bootstrapper}}
	{{>n-ui/tracking/templates/core-analytics}}
	</body>
</html>
