$next-sass-setup-is-silent: false;
@import 'next-sass-setup/main';

@import '../main';

@font-face {
	src: url(https://next-geebee.ft.com/build/v2/files/o-fonts-assets@1.3.0/FinancierDisplayWeb-Regular.woff?#iefix) format("woff");
	font-family: FinancierDisplayWeb;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url(https://next-geebee.ft.com/build/v2/files/o-fonts-assets@1.3.0/MetricWeb-Semibold.woff?#iefix) format("woff");
	font-family: MetricWeb;
	font-weight: 600;
	font-style:normal;
}

@font-face {
	src: url(https://next-geebee.ft.com/build/v2/files/o-fonts-assets@1.3.0/MetricWeb-Regular.woff?#iefix) format("woff");
	font-family: MetricWeb;
	font-weight: 400;
	font-style:normal;
}

@font-face{
	src: url(https://next-geebee.ft.com/build/v2/files/o-fonts-assets@1.3.0/MetricWeb-Light.woff?#iefix) format("woff");
	font-family: MetricWeb;
	font-weight: 200;
	font-style: normal;
}

body {
	padding: 20px;
}

.header {
	clear: left;
}

.example-card {
	width: 300px;
	margin-right: 20px;
	float: left;
}
