{{#ifAll @root.flags.frontPageFastFTJourney @root.navigationLists.navbar_mobile}}
<nav id="o-header-nav-mobile" class="o-header__row o-header__nav o-header__nav--mobile" aria-hidden="true" data-trackable="header-nav:mobile">
	<ul class="o-header__nav-list">
		{{#each @root.navigationLists.navbar_mobile}}
		<li class="o-header__nav-item">
			<a class="o-header__nav-link o-header__nav-link--primary" href="{{href}}" aria-selected="{{selected}}" data-trackable="{{name}}">{{name}}</a>
		</li>
		{{/each}}
	</ul>
</nav>
{{/ifAll}}

<nav id="o-header-nav-desktop" class="o-header__row o-header__nav o-header__nav--desktop" role="navigation" aria-label="Primary navigation" data-trackable="header-nav:desktop">
	<div class="o-header__container">
		<ul class="o-header__nav-list o-header__nav-list--left" data-trackable="primary-nav">
			{{#each @root.navigationLists.navbar_desktop}}
			<li class="o-header__nav-item">
				<a class="o-header__nav-link o-header__nav-link--primary {{#ifEquals @root.currentNav.topLevelRelative.href href}}o-header-nav__list-link--highlight{{/ifEquals}}" href="{{href}}" id="o-header-link-{{@index}}" aria-selected="{{selected}}" data-trackable="{{name}}">{{name}}</a>
				{{> n-ui/header/partials/meganav/template}}
			</li>
			{{/each}}
		</ul>



		{{#unlessEquals nUi.header.userNav false}}
			<ul class="o-header__nav-list o-header__nav-list--right" data-trackable="user-nav">
				{{#if @root.anon.userIsAnonymous}}
					<li class="o-header__nav-item">
						{{#with @root.navigationLists.account.signin}}
							<a class="o-header__nav-link" href="{{href}}" data-trackable="{{name}}">{{name}}</a>
						{{/with}}
					</li>
					<li class="o-header__nav-item">
						{{#with @root.navigationLists.account.subscribe}}
							<a class="o-header__nav-button" href="{{href}}" data-trackable="{{name}}">{{name}}</a>
						{{/with}}
					</li>
				{{/if}}
				{{#if @root.anon.userIsLoggedIn}}
					{{#each @root.navigationLists.navbar_right.user}}
						<li class="o-header__nav-item">
							<a class="o-header__nav-link" href="{{href}}" data-trackable="{{name}}">{{name}}</a>
						</li>
					{{/each}}
				{{/if}}
			</ul>
		{{/unlessEquals}}

		{{#if @root.flags.compactView}}
			{{#if @root.viewStyle}}
				<div class="o-header__viewtoggle" data-trackable="viewtoggle">
					<span class="o-header__viewtoggle__item o-header__viewtoggle__label">View page as</span>
					<a class="o-header__viewtoggle__item o-header__viewtoggle__link o-header__viewtoggle__link--compact {{#ifEquals @root.viewStyle 'compact'}}o-header__viewtoggle__link--selected{{/ifEquals}}" href="/viewtoggle/compact" title="Compact View" data-trackable="compact">
						<span class="n-util-visually-hidden">compact</span>
					</a>
					<a class="o-header__viewtoggle__item o-header__viewtoggle__link o-header__viewtoggle__link--standard {{#ifEquals @root.viewStyle 'standard'}}o-header__viewtoggle__link--selected{{/ifEquals}}" href="/viewtoggle/standard" title="Standard View" data-trackable="standard">
						<span class="n-util-visually-hidden">standard</span>
					</a>
				</div>
			{{/if}}
		{{/if}}
	</div>
</nav>
