{{#ifAll @root.flags.frontPageFastFTJourney}}
<nav id="o-header-nav-mobile" class="o-header__row o-header__nav o-header__nav--mobile" role="navigation" data-trackable="header-nav:mobile">
  <ul class="o-header__nav-list">
    {{#each @root.navigationLists.navbar_mobile}}
    <li class="o-header__nav-item">
      <a class="o-header__nav-link o-header__nav-link--primary" href="{{href}}" aria-selected="{{selected}}" data-trackable="{{name}}">{{name}}</a>
    </li>
    {{/each}}
  </ul>
</nav>
{{/ifAll}}

<nav id="o-header-nav-desktop" class="o-header__row o-header__nav o-header__nav--desktop" role="navigation" data-trackable="header-nav:desktop">
  <div class="o-header__container">
    <ul class="o-header__nav-list o-header__nav-list--left">
      {{#each @root.navigationLists.navbar_desktop}}
      <li class="o-header__nav-item">
        <a class="o-header__nav-link o-header__nav-link--primary {{#ifEquals @root.currentNav.topLevelRelative.href href}}o-header-nav__list-link--highlight{{/ifEquals}}" href="{{href}}" aria-selected="{{selected}}" data-trackable="{{name}}">{{name}}</a>
        {{#if @root.flags.meganav}}
          {{> n-ui/header/partials/meganav/template}}
        {{/if}}
      </li>
      {{/each}}
    </ul>
    <ul class="o-header__nav-list o-header__nav-list--right">
      {{#if @root.anon.userIsAnonymous}}
        {{#each @root.navigationLists.navbar_right.anon}}
          <li class="o-header__nav-item">
            <a class="o-header__nav-link" href="{{href}}" data-trackable="{{name}}">{{name}}</a>
          </li>
        {{/each}}
      {{/if}}
      {{#if @root.anon.userIsLoggedIn}}
      {{#each @root.navigationLists.navbar_right.user}}
      <li class="o-header__nav-item">
        <a class="o-header__nav-link" href="{{href}}" data-trackable="{{name}}">{{name}}</a>
      </li>
      {{/each}}
      {{/if}}
    </ul>
  </div>
</nav>