<div id="o-header-search-js" class="o-header__row o-header__search" data-trackable="header-search" role="search" data-o-header-search>
	<div class="o-header__container">
		<form class="o-header__search-form" action="/search" role="search" aria-label="Site search" data-typeahead>
			<label class="o-header__visually-hidden" for="o-header-search-term-js">Search the <abbr title="Financial Times">FT</abbr></label>
			<input class="o-header__search-term" id="o-header-search-term-js" name="q" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-trackable="search-term" placeholder="Search the FT">
			<button class="o-header__search-submit" type="submit" data-trackable="submit">
				Search
			</button>
			<button class="o-header__search-close" type="button" aria-controls="o-header-search-js" data-trackable="close">
				<span class="o-header__visually-hidden">Close</span>
			</button>
		</form>
	</div>
</div>
