<div id="o-header-search-{{context}}" class="o-header__row o-header__search o-header__search--{{context}}" data-trackable="header-search" data-o-header-search>
	<div class="o-header__container">
		<form class="o-header__search-form" action="/search" role="search" aria-label="Site search" data-typeahead data-typeahead-categories="tags,equities" data-typeahead-view-all>
			<label class="o-header__visually-hidden" for="o-header-search-term-{{context}}">Search the <abbr title="Financial Times">FT</abbr></label>
			<input class="o-header__search-term" id="o-header-search-term-{{context}}" name="q" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-trackable="search-term" placeholder="Search the FT">
			<button class="o-header__search-submit" type="submit" data-trackable="search-submit">
				Search
			</button>
			<button class="o-header__search-close o--if-js" type="button" aria-controls="o-header-search-{{context}}" title="Close search bar" data-trackable="close">
				<span class="o-header__visually-hidden">Close</span>
			</button>
		</form>
	</div>
</div>
