

$n-ui-is-silent: false !default;

$_n-ui-features = (
	ads: false,
	buttons: false,
	grid: false,
	icons: false,
	typography: false,
	cookieMessage: false,
	message-prompts: false,
	myft: false,
	notification: false,
	welcomeMessage: false,
	header: false
)

$_n-ui-presets = (
	discrete: (
		header: true,
		date: true
	),
	all: $_n-ui-features.map(() => true)
);



@mixin nUiConfigure($opts: ()) {
		if (opts.preset) {
			opts = Object.assign({}, presets[opts.preset], opts);
		}

		opts.foreach {
			turn on flag
		}
}


@mixin nUiHasFeature($feature) {
	return $_n-ui-features[$feature]
}
