$_n-ui-variant: null !default;

$_n-ui-output-critical: false !default;

// default feature values
$_n-ui-features: (
	ads: 'critical',
	buttons: false,
	colors: true,
	cookieMessage: false,
	drawer: true,
	expander: false,
	footer: true,
	forms: false,
	grid: 'critical',
	header: 'critical',
	icons: true,
	layout: 'critical',
	messagePrompts: false,
	myft: false,
	normalize: 'critical',
	notification: false,
	overlay: false,
	promoMessages: false,
	typography: 'critical',
	utils: 'critical',
	welcomeMessage: true
) !default;

$_n-ui-feature-dependenices: (
	myft: ('forms', 'notification', 'overlay', 'myft-common'),
	footer: ('welcomeMessage'),
	welcomeMessage: ('footer')
);

$_n-ui-presets: (
	discrete: map-merge($_n-ui-features, ()),
	complete: map-merge($_n-ui-features, (
		cookieMessage: true,
		messagePrompts: true,
		myft-common: 'critical',
		myft: true,
		notification: true,
		promoMessages: false,
		welcomeMessage: true
	))
);

$_n-ui-configured: false !default;

@import '_sass-utils/main';
