$_n-ui-features: (
	ads: true,
	buttons: true,
	card: false,
	colors: null,
	cookieMessage: false,
	date: null,
	expander: false,
	footer: true,
	forms: false,
	grid: true,
	header: true,
	icons: null,
	messages: true,
	messagePrompts: false,
	myft: false,
	normalize: null,
	notification: false,
	overlay: false,
	typography: true,
	utils: null,
	viewport: null,
	welcomeMessage: false
) !default;

$_n-ui-presets: (
	discrete: map-merge($_n-ui-features, ()),
	complete: map-merge($_n-ui-features, (
		cookieMessage: true,
		messages: true,
		messagePrompts: true,
		myft: true,
		notification: true,
		welcomeMessage: true
	))
);

$_n-ui-configured: false !default;

@import '_sass-utils/main';
