$_n-ui-features: (
	ads: 'critical',
	buttons: true,
	colors: true,
	cookieMessage: false,
	expander: false,
	footer: true,
	forms: false,
	grid: 'critical',
	header: 'critical',
	icons: true,
	layout: 'critical',
	messagePrompts: false,
	myft: true,
	normalize: 'critical',
	notification: false,
	overlay: false,
	promoMessages: false,
	typography: 'critical',
	utils: 'critical',
	welcomeMessage: false
) !default;

$_n-ui-feature-dependenices: (
	welcomeMessage: ('footer')
);

$_n-ui-presets: (
	discrete: map-merge($_n-ui-features, ()),
	complete: map-merge($_n-ui-features, (
		cookieMessage: true,
		messagePrompts: true,
		myft: true,
		notification: true,
		promoMessages: true,
		welcomeMessage: true
	))
);

$_n-ui-configured: false !default;

@import '_sass-utils/main';
