////
/// @group n-ui features
////

/// Configurable features
/// @type List
/// @private
$n-ui-features: (
	ads: 'critical',
	buttons: false,
	colors: true,
	cookieMessage: false,
	expander: false,
	footer: true,
	forms: false,
	grid: 'critical',
	header: 'critical',
	icons: true,
	layout: 'critical',
	messagePrompts: false,
	myft: false,
	myftCommon: false,
	myftDigestPromo: false,
	normalize: 'critical',
	notification: false,
	overlay: false,
	promoMessages: false,
	tourTip: false,
	tourTipGroup: false,
	typography: 'critical',
	utils: 'critical',
	welcomeMessage: true
) !default;

/// Declare any feature dependencies
/// @type Map
$n-ui-feature-dependencies: (
	myft: ('forms', 'notification', 'overlay', 'myftCommon'),
	tourTipGroup: ('tourTip')
);

/// Preset groups of features
/// @type Map
$n-ui-presets: (
	discrete: (),
	complete: (
		cookieMessage: true,
		messagePrompts: true,
		myftCommon: 'critical',
		myft: true,
		myftDigestPromo: 'critical',
		notification: true,
		promoMessages: false,
		welcomeMessage: true
	)
);



@import '_sass-utils/main';
