/*

This includes all the basic origami styles and mixins you can
expect to be available when a page uses n-ui

*/

// Base unit to standardize spacing
// Decide where it's gonna live later
$spacing-unit: 16px;

// TODO: integrate sass setup
$next-sass-setup-is-silent: true;
$_next-sass-setup_applied: true;

@import 'configure';

@import 'buttons/main';
@import 'colors/main';
@import 'grid/main';
@import 'icons/main';
@import 'normalize/main';
@import 'typography/main';
@import 'utils/main';
