// horrible hack to cope with lack of silent mode in n-ui-foundations
$n-ui-foundations-applied: true;
@import 'n-ui-foundations/main';

@include nUiStylesheet('head-n-ui-core') {
	@include nUiFoundations;
}

@import 'browser/layout/main';
@import 'components/n-ui/ads/main';
// TODO: header has to come first, as footer indirectly depends on a mixin in it. Need to decouple
@import 'components/n-ui/header/main';
@import 'components/n-ui/footer/main';

@import 'n-syndication/main';
@import 'n-desktop-app-banner/main';

$o-cookie-message-is-silent: false;
@import 'o-cookie-message/main';
