{{#*inline "DrawerParentItem"}}
	<div class="o-header__drawer-menu-toggle-wrapper">
		<a class="o-header__drawer-menu-link o-header__drawer-menu-link--parent o-header__drawer-menu-link--{{#if selected}}selected{{else}}unselected{{/if}}" href="{{url}}" {{#selected}}aria-label="Current page" aria-selected="true"{{/selected}} data-trackable="{{label}}">{{label}}</a>
		<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--{{#if selected}}selected{{else}}unselected{{/if}}" aria-controls="o-header-drawer-child-{{@index}}" data-trackable="sub-level-toggle | {{label}}">
			Show more {{label}} links
		</button>
	</div>
	<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-{{@index}}" data-trackable="sub-level">
		{{#each submenu.items}}
		<li class="o-header__drawer-menu-item">
			<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--{{#if selected}}selected{{else}}unselected{{/if}}" href="{{url}}" {{#selected}}aria-label="Current page" aria-selected="true"{{/selected}} data-trackable="{{label}}">{{label}}</a>
		</li>
		{{/each}}
	</ul>
{{/inline}}

{{#*inline "DrawerSingleItem"}}
	<a class="o-header__drawer-menu-link o-header__drawer-menu-link--{{#if selected}}selected{{else}}unselected{{/if}}" href="{{url}}" {{#selected}}aria-label="Current page" aria-selected="true"{{/selected}} data-trackable="{{label}}">{{label}}</a>
{{/inline}}

{{#*inline "DrawerSpecialItem"}}
	<a class="o-header__drawer-menu-link o-header__drawer-menu-link--secondary o-header__drawer-menu-link--{{#if selected}}selected{{else}}unselected{{/if}}" href="{{url}}" {{#selected}}aria-label="Current page" aria-selected="true"{{/selected}} data-trackable="{{label}}">{{label}}</a>
{{/inline}}

<div class="o-header__drawer" id="o-header-drawer" role="navigation" aria-label="Drawer menu" data-o-header-drawer data-o-header-drawer--no-js data-trackable="drawer" data-trackable-terminate>
	<div class="o-header__drawer-inner">

		<div class="o-header__drawer-tools">
			<button type="button" class="o-header__drawer-tools-close" aria-controls="o-header-drawer" title="Close drawer menu" data-trackable="close">
				<span class="o-header__visually-hidden">Close</span>
			</button>

			<a class="o-header__drawer-tools-logo" href="/" data-trackable="logo">
				<span class="o-header__visually-hidden">Financial Times</span>
			</a>

			{{#if @root.editions}}
				<p class="o-header__drawer-current-edition">{{@root.editions.current.name}} Edition</p>
			{{/if}}
		</div>

		<div class="o-header__drawer-search">
			<form class="o-header__drawer-search-form" action="/search" role="search" aria-label="Site search" data-typeahead data-typeahead-categories="tags,equities" data-typeahead-view-all>
				<label class="o-header__visually-hidden" for="o-header-drawer-search-term">Search the <abbr title="Financial Times">FT</abbr></label>
				<input class="o-header__drawer-search-term" id="o-header-drawer-search-term" name="q" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Search the FT" data-trackable="search-term" data-typeahead-input>
				<button class="o-header__drawer-search-submit" type="submit" data-trackable="search-submit">
					<span class="o-header__visually-hidden">Search</span>
				</button>
			</form>
		</div>

		<nav class="o-header__drawer-menu o-header__drawer-menu--primary o-header__drawer-homepage">


			<ul class="o-header__drawer-menu-list">

				{{#if @root.editions}}
					{{#each @root.editions.others}}
						<li class="o-header__drawer-menu-item" data-trackable="edition-switcher">
							<a class="o-header__drawer-menu-link" href="/?edition={{id}}" data-trackable="{{id}}">Switch to {{name}} Edition</a>
						</li>
					{{/each}}
				{{/if}}

				{{#unless @root.anon.userIsAnonymous}}
				{{#if @root.flags.compactView}}
					{{#ifEquals @root.__name "front-page"}}
						{{#ifEquals @root.viewStyle "compact"}}
							<li class="o-header__drawer-menu-item" data-trackable="viewtoggle">
								<a class="o-header__drawer-menu-link" href="viewtoggle/standard" data-trackable="standard">Turn off compact homepage</a>
							</li>
						{{else}}
							<li class="o-header__drawer-menu-item">
								<a class="o-header__drawer-menu-link" href="/viewtoggle/compact" data-trackable="compact">Turn on compact homepage</a>
							</li>
						{{/ifEquals}}
					{{/ifEquals}}
				{{/if}}
				{{/unless}}
			</ul>

			<ul class="o-header__drawer-menu-list">
				{{#with @root.navigation.menus.drawer}}
					{{#with items.[0]}}
						<li class="o-header__drawer-menu-item o-header__drawer-menu-item--heading">{{label}}</li>

						{{#each submenu.items}}
							<li class="o-header__drawer-menu-item">
								{{#if submenu}}
									{{> DrawerParentItem}}
								{{else}}
									{{> DrawerSingleItem}}
								{{/if}}
							</li>
						{{/each}}
					{{/with}}

					{{#with items.[1]}}
						<li class="o-header__drawer-menu-item o-header__drawer-menu-item--heading">{{label}}</li>

						{{#each submenu.items}}
							<li class="o-header__drawer-menu-item">
								{{> DrawerSingleItem}}
							</li>
						{{/each}}
					{{/with}}

					{{#with items.[2]}}
						{{#each submenu.items}}
							<li class="o-header__drawer-menu-item {{#unless @index}}o-header__drawer-menu-item--divide{{/unless}}">
								{{> DrawerSpecialItem}}
							</li>
						{{/each}}
					{{/with}}
				{{/with}}
			</ul>
		</nav>

		<nav class="o-header__drawer-menu o-header__drawer-menu--user" data-trackable="user-nav">
			<ul class="o-header__drawer-menu-list">
				{{#if @root.anon.userIsLoggedIn}}
					{{#each @root.navigation.menus.user.items}}
						<li class="o-header__drawer-menu-item">
							<a class="o-header__drawer-menu-link" href="{{url}}" data-trackable="{{label}}">{{label}}</a>
						</li>
					{{/each}}
				{{/if}}
				{{#if @root.anon.userIsAnonymous}}
					{{#each @root.navigation.menus.anon.items}}
						<li class="o-header__drawer-menu-item">
							<a class="o-header__drawer-menu-link" href="{{url}}" data-trackable="{{label}}">{{label}}</a>
						</li>
					{{/each}}
				{{/if}}
			</ul>
		</nav>
	</div>
</div>
