{{#if @root.flags.headerMarketingPromo}}
	<div class="n-header__marketing-promo" data-trackable="marketing-promo:header">
		<div class="n-header__marketing-promo__container o-header__container">
			<a href="/products?segid=0300494" class="n-header__marketing-promo__box" data-trackable="marketing-promo:box">
				<div class="n-header__marketing-promo__link" data-trackable="marketing-promo:link">
				{{#if @root.flags.priceFlashSale}}
					<span>Limited time offer, subscribe &amp; save 25% </span>
				{{else}}
					<span aria-label="Subscribe to the Financial Times">Subscribe to the FT</span>
				{{/if}}
				</div>
			</a>
		</div>
	</div>
{{/if}}
