{{#if @root.flags.headerMarketingPromo}}
	<div class="n-header__marketing-promo" data-trackable="marketing-promo:header">
		<div class="n-header__marketing-promo__container o-header__container">
			{{#with @root.navigation.lists.account.subscribe}}
				<a href="{{href}}?segid=0300494" class="n-header__marketing-promo__box" data-trackable="marketing-promo:box">
			{{/with}}
				<div class="n-header__marketing-promo__link" data-trackable="marketing-promo:link">

				{{#ifAll @root.flags.headerMarketingPromoDiscountByCohort @root.flags.barrierDiscountByCohort}}
					{{#ifEquals @root.flags.barrierDiscountByCohort 'trial_5'}}
						Subscribe to the FT
					{{else}}
						LIMITED TIME ONLY: Subscribe &amp; save <span id="discountPercent"></span>
					{{/ifEquals}}
				{{else}}
					Subscribe to the FT
				{{/ifAll}}</div>
			</a>
		</div>
	</div>
{{/if}}
