<div id="site-content">
	<p>{{@root.latestNUiVersions}}</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<div class="o-teaser__heading js-teaser-heading">
		<a 	href="/content/00000000-0000-0000-0000-111111111111"
			class="js-teaser-heading-link"
			data-content-id="00000000-0000-0000-0000-111111111111"
			data-trackable="main-link"							
			data-trackable-context-headline-variant="variant1"
			data-trackable-context-teaser-variant="variant3"
			>
				Greece racks up surplus by keeping foot on brake
		</a>
	</div>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<div class="o-teaser__heading js-teaser-heading">
		<a 	href="/content/00000000-0000-0000-0000-222222222222"
			class="js-teaser-heading-link"
			data-content-id="00000000-0000-0000-0000-222222222222"
			data-trackable="main-link"							
			data-trackable-context-headline-variant="variant1"
			data-trackable-context-teaser-variant="variant4"
			>
				Some varinat headline innit
		</a>
	</div>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
	<p>lorem ipsum dolor sit down and listen to some latin</p>
</div>
