@include nUiCriticalStart('drawer');

// TODO: will be a part of o-header
$n-drawer-is-silent: nUiHas('header') !default;

@import 'n-header-footer/drawer/drawer';

@include nUiCriticalEnd('drawer');
