@import 'o-header/main';
@import 'n-topic-search/main';

@include nUiStylesheetStart('head-n-ui-core');

	@include oHeader(('search', 'nav', 'anon', 'megamenu', 'simple'));
	// force display of search row
	// <https://github.com/Financial-Times/o-header/blob/2ebf2cbe6b7508a03e0989ff57f1029e12c0506c/src/scss/rows/_search.scss#L13-L15>
	.core [data-o-header-search] {
		display: block;
	}

	// inlined logo
	.o-header__top-logo.o-header__top-logo--inlined {
		background-image: none;

		// tinted
		* {
			fill: getColor('black-80');
		}
	}

	// inlined icons (menu, search & myFT)
	.o-header__top-link.o-header__top-link--inlined {
		width: 40px;
		height: 40px;

		&:before {
			content: none;
		}

		// myFT needs some special handling
		&.o-header__top-link--myft {
			width: 35px;

			@include oGridRespondTo($from: M) {
				width: 44px;
			}

			@include oGridRespondTo($from: L) {
				width: 52px;
			}

			svg {
				width: 35px;
				height: 40px;

				@include oGridRespondTo($from: M) {
					width: 44px;
				}

				@include oGridRespondTo($from: L) {
					width: 52px;
				}
			}
		}

		// tinted
		* {
			fill: getColor('black-80'); // tint for the inlined SVG
		}
	}

	.o-header__mega {
		@include nUiZIndexFor('meganav');
	}

	.o-header__drawer,
	.o-header--sticky {
		display: none;
	}

	// skip links for keyboard users
	.n-skip-link {
		@include nUiZIndexFor('notification');
		position: absolute;
		top: 1em;
		left: -9999px;
		padding: 0.5em 1em;
		background: getColor('velvet');
		color: getColor('white');

		&:focus {
			@include oVisualEffectsShadowsElevation('high');
			left: 0;
			color: getColor('white');
		}
	}

	.o-header__search-close {
		margin-bottom: -3px;
	}

	.n-typeahead {
		display: none;
	}

@include nUiStylesheetEnd('head-n-ui-core');

@include oHeaderDrawer;
@include oHeaderSticky;
@include nTopicSearch;
// fix up z-indexes
.o-header__drawer {
	@include nUiZIndexFor('drawer');
	display: block;
}

.o-header--sticky {
	@include nUiZIndexFor('sticky-header');
	display: block;
}

@media print {
	.o-header--sticky {
		display: none;
	}
}

.o-header__top-link--myft {
	position: relative;
}

.o-header__drawer-current-edition {
	// not in o-colors! Blame Ollie
	color: #66605a;
	margin: 0.5em 0;
}

.o-header__drawer-homepage {
	border-top: 2px solid getColor('black-10');
}

.o-header__drawer-search {
	border-top: 2px solid getColor('black-10');
}
