<a data-trackable="a11y-survey-screen-reader" class="n-skip-link" href="https://www.ft.com/accessibility">Accessibility help</a>
<a data-trackable="a11y-skip-to-navigation" class="n-skip-link" href="#site-navigation">Skip to navigation</a>
<a data-trackable="a11y-skip-to-content" class="n-skip-link" href="#site-content">Skip to content</a>
<a data-trackable="a11y-skip-to-footer" class="n-skip-link" href="#site-footer">Skip to footer</a>

{{#if content.before}}
	<div class="o-header-before">{{{content.before}}}</div>
{{/if}}
{{#unlessEquals nUi.header.variant 'logo-only'}}
	{{> n-ui/header/partials/marketing-promo/template}}
{{/unlessEquals}}

{{#ifEquals @root.viewStyle 'compact'}}
	<header id="site-navigation" class="o-header o-header--simple" data-o-component="o-header" data-o-header--no-js tabindex="-1">
{{else}}
	<header id="site-navigation" class="o-header" data-o-component="o-header" data-o-header--no-js tabindex="-1">
{{/ifEquals}}


	{{#if @root.flags.hideOutboundLinks}}
		{{> n-ui/header/partials/header/top-no-links}}
	{{else}}
		{{#ifEquals nUi.header.variant 'logo-only'}}
		{{> n-ui/header/partials/header/top}}
		{{else}}
		{{> n-ui/header/partials/header/anon}}

		{{> n-ui/header/partials/header/top}}
		{{> n-ui/header/partials/header/search context="primary"}}
		{{> n-ui/header/partials/header/nav}}

		{{/ifEquals}}

		{{#outputBlock 'sub-header'}}{{/outputBlock}}

		{{#unlessEquals nUi.header.variant 'logo-only'}}
		{{>n-ui/header/partials/subnav/template}}
		{{/unlessEquals}}
	{{/if}}

</header>

{{#unless nUi.header.disableSticky}}
	{{#unless @root.flags.hideOutboundLinks}}
		<header class="o-header o-header--simple o-header--sticky o--if-js" aria-hidden="true" data-o-header--sticky>
			{{> n-ui/header/partials/header/sticky}}

			{{> n-ui/header/partials/header/search context="sticky"}}
		</header>
	{{/unless}}
{{/unless}}
