@mixin nUiHeaderMarketingPromo {
	.n-header__marketing-promo {
		background-color: getColor('grey-tint5');
		color: getColor('white');
		display: none;

		&.visible {
			@include oGridRespondTo('M') {
				display: block;
			}
		}

	}

	.n-header__marketing-promo__container {
		display: table;
		height: 50px;
	}

	.n-header__marketing-promo__box {
		@include oTypographySansSize(s);
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		padding-right: 120px;
		background: url('https://next-geebee.ft.com/image/v1/images/raw/https%3A%2F%2Fnext-geebee.ft.com%2Fassets%2Fproduct%2Fpack-shot-next-2.png?source=next&height=100') right top no-repeat;
		background-size: auto 50px;
	}

	.n-header__marketing-promo__link {
		@include oButtons($theme: standout, $size: small);
		word-spacing: 1px;
	}
}
