.o-header__search-form,
.o-header__drawer-search-form {
	position: relative;
}

.o-header__search-close {
	margin-bottom: -3px;
}

.o-header__typeahead {

	@include nUtilZIndexFor('typeahead');
	position: absolute;
	top: 100%;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	margin: -2px 0 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	overflow: hidden;
	background: getColor('white');
	text-align: left;
	display: flex;
	flex-direction: column;

	@include oGridRespondTo('L') {
		flex-direction: row;
	}
}

.o-header__typeahead[hidden],
.o-header__typeahead:empty {
	display: none;
}

.o-header__typeahead-heading {

	@include oTypographySans(m);

	position: relative;
	margin: 0;
	padding: $spacing-unit 0;

	&:before {
		border-top: 8px solid getColor('black');
		content: '';
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
	}
}

.o-header__typeahead__group {
	padding: $spacing-unit $spacing-unit;
	flex: 1;
}

.o-header__typeahead-item-list,
.o-header__typeahead-item {
	list-style: none;
	padding: 0;
	margin: 0;
}

.o-header__typeahead-item-list {
	padding: 0 $spacing-unit;
}

.o-header__typeahead-item {
	border-bottom: 1px solid getColor('grey-tint2');

	&:last-child {
		border-bottom: 0;
	}
}

.o-header__typeahead-link {
	cursor: pointer;
	color: getColor('grey-tint5');
	border-bottom: 0;
	box-sizing: border-box;
	display: block;
	text-decoration: none;
	padding: $spacing-unit/2 0;

	mark {
		color:inherit;
		background: none;
		font-weight: oFontsWeight(semibold);
	}

	abbr {
		float: right;
		padding-left: 10px;
	}

	&:hover,
	&:focus {
		background: getColor('teal-1');
		color: getColor('white');
	}

	&:hover mark,
	&:focus mark {
		color: inherit;
	}

	&:after {
		content: '';
		clear: right;
		display: block;
	}
}

.o-header__typeahead-link--tail {

	&:after {
		@include oIconsGetIcon(arrow-right, getColor('grey-tint5'), 14);
		content: '';
	}
}

.o-header__typeahead-link--news {
	color: getColor('claret-1');
}

// for nice alignment of equity name and index
.o-header__typeahead-link--equities {
	display: flex;
}

.o-header__typeahead-link__equity-name {
	flex-grow: 1;
}
