.o-header__search-form,
.o-header__drawer-search-form {
	position: relative;
}

.o-header__search-close {
	margin-bottom: -3px;
}

.o-header__typeahead {

	@include nUtilZIndexFor('typeahead');
	position: absolute;
	top: 100%;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	margin: -2px 0 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	overflow: hidden;
	background: getColor('white');
	text-align: left;

	@include oGridRespondTo('S') {
		width: 350px;
	}
}

.o-header__typeahead[hidden],
.o-header__typeahead:empty {
	display: none;
}

.o-header__typeahead-heading {

	@include oTypographySans(m);

	position: relative;
	margin: 0;
	padding: $spacing-unit 0;

	&:before {
		border-top: 8px solid getColor('black');
		content: '';
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
	}
}

.o-header__typeahead__group {
	padding: $spacing-unit*2 $spacing-unit;
}

.o-header__typeahead ul,
.o-header__typeahead li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.o-header__typeahead-link {
	padding: 8px 16px;
	cursor: pointer;
	color: getColor('black');
	border-bottom: 0;
	box-sizing: border-box;
	display: block;
	text-decoration: none;

	mark {
		background: none;
		font-weight: 600;
	}

	abbr {
		float: right;
		padding-left: 10px;
	}

	&:hover,
	&:focus {
		background: getColor('teal-1');
		color: getColor('white');
	}

	&:hover mark,
	&:focus mark {
		color: inherit;
	}

	&:after {
		content: '';
		clear: right;
		display: block;
	}
}

.o-header__typeahead-view-all button {
	@include oColorsFor(o-header, background text);
	width: 100%;
	height: 100%;
	font-family: inherit;
	font-size: inherit;
	padding: 0.5em 0;
	cursor: pointer;
	border: 0;

	&:after {
		@include oIconsGetIcon(arrow-right, oColorsGetColorFor(o-header, text), 14);
		content: '';
		padding-left: 0.5em;
		margin-bottom: -0.1em;
	}

	&:focus,
	&:active {
		outline: none;
	}
}
