@function icon_v5_url($name, $col) {
	$colour : str-slice(inspect($col), 2);
	@return url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:#{$name}?source=next&tint=%23#{$colour},%23#{$colour}&format=svg);
}


// HACK: for some reason we haven't upgraded to v5 of icons (yet) so need to this instead
@mixin icon_v5($name, $col, $size) {
	background-image: icon_v5_url($name, $col);
	width: #{$size}px;
	height: #{$size}px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
	background-color: transparent;
	vertical-align: baseline;
}

@mixin viewToggle {
	$icon-colour-default: getColor('grey-tint5');
	$icon-color-hover: getColorFor(link, text);
	$icon-size: 40;

	.o-header__viewtoggle {
		float: right;
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid getColor('pink-tint3');
		display: none;

		@include oGridRespondTo(L) {
			display: table;
		}
	}

	.o-header__viewtoggle__label {
		padding: 12px 0;
	}

	.o-header__viewtoggle__link {
		border: 0;
		opacity: 0.4;

		&:hover {
			opacity: 1;
		}
	}

	.o-header__viewtoggle__link--selected {
		opacity: 1;
	}

	.o-header__viewtoggle__link--compact {
		@include icon_v5('list', $icon-colour-default, $icon-size);

		&:hover {
			background-image: icon_v5_url('list', $icon-color-hover);
		}
	}

	.o-header__viewtoggle__link--standard {
		@include icon_v5('grid', $icon-colour-default, $icon-size);

		&:hover {
			background-image: icon_v5_url('grid', $icon-color-hover);
		}
	}

	.o-header__viewtoggle__item {
		display: table-cell;
		vertical-align: middle;
	}
}
