$_n-ui-icons-applied: false !default;

/* Deliberately not able to import in noisy mode */
$o-ft-icons-is-silent: true;
$o-icons-is-silent: true;
$o-icons-service-base-url: 'https://next-geebee.ft.com/image';

@import 'o-ft-icons/main';
@import 'o-icons/main';

@mixin nextIcon($icon-name, $color: null, $size: 20, $icon-only: false) {
	@warn '`nextIcon` is deprecated, use `oIconsGetIcon` or `nUiBrand` instead';
	@if ($icon-only == false) {
		display: inline-block;
		width: $size + 0px;
		height: $size + 0px;
	}

	$service-url: 'https://next-geebee.ft.com/image/v1/images/raw/';
	$icon-url: 'http%3A%2F%2Fnext-geebee.ft.com%2Fassets%2Ficons%2F#{$icon-name}.svg';
	$query: '?source=next';

	@if $color != null {
		$color: toHex($color);
		$query: $query + '&tint=%23#{$color},%23#{$color}';
	}

	background-image: url($service-url + $icon-url + $query + '&format=svg');
	// ie7/8 fallback
	background-image: url($service-url + $icon-url + $query + '&format=png&width=#{$size}')\9;

	@if ($icon-only == false) {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50%;
		background-color: transparent;
	}
}

@if $_n-ui-icons-applied == false {

	$_n-ui-icons-applied: true;

} @else {
	@warn "n-ui/icons should only be imported once.";
}
