{{#ifAll @root.flags.sectionBreadcrumbs @root.currentNav}}
<div id="n-breadcrumb" class="o-header__subnav" role="navigation" data-trackable="breadcrumb" data-o-header-subnav>
	<div class="o-header__container">
		<div class="o-header__subnav-wrap-outside">
			<div class="o-header__subnav-wrap-inside" data-o-header-subnav-wrapper>
				<div class="o-header__subnav-content">
					<ol class="o-header__subnav-list o-header__subnav-list--breadcrumb" data-trackable="trail" aria-label="Breadcrumb">
						{{#currentNav.ancestors}}
						<li class="o-header__subnav-item">
							<a class="o-header__subnav-link" href="{{href}}" data-trackable="{{name}}">
								{{name}}
							</a>
						</li>
						{{/currentNav.ancestors}}
						{{#currentNav}}
						<li class="o-header__subnav-item">
							<a class="o-header__subnav-link" href="{{href}}" data-trackable="{{name}}" aria-selected="true" aria-label="Current page">
								{{name}}
							</a>
						</li>
						{{/currentNav}}
					</ol>

					{{#if currentNav.children}}
					<ul class="o-header__subnav-list o-header__subnav-list--children" data-trackable="children" aria-label="Subsections">
						{{#currentNav.children}}
						<li class="o-header__subnav-item">
							<a class="o-header__subnav-link" href="{{href}}" data-trackable="{{name}}">
								{{name}}
							</a>
						</li>
						{{/currentNav.children}}
					</ul>
					{{/if}}
				</div>
			</div>
			<button class="o-header__subnav-button o-header__subnav-button--left" aria-hidden="true" disabled></button>
			<button class="o-header__subnav-button o-header__subnav-button--right" aria-hidden="true" disabled></button>
		</div>
	</div>
</div>
{{/ifAll}}
