<div class="o-header__subnav" role="navigation" aria-label="Sub navigation" data-o-header-subnav data-trackable="header-subnav">
	<div class="o-header__container">
		<div class="o-header__subnav-wrap-outside">
			<div class="o-header__subnav-wrap-inside" data-o-header-subnav-wrapper>
				<div class="o-header__subnav-content">

					{{#if @root.subnav.breadcrumb}}
					<ol class="o-header__subnav-list o-header__subnav-list--breadcrumb" aria-label="Breadcrumb" data-trackable="breadcrumb">
						{{#each @root.subnav.breadcrumb}}
						<li class="o-header__subnav-item">
							<a class="o-header__subnav-link {{#if selected}}o-header__subnav-link--highlight{{/if}}" href="{{href}}" aria-selected="{{selected}}" data-trackable="{{name}}">
								{{name}}
							</a>
						</li>
						{{/each}}
					</ol>
					{{/if}}

					{{#if @root.subnav.subsections}}
					<ul class="o-header__subnav-list o-header__subnav-list--subsections" aria-label="Subsections" data-trackable="subsections">
						{{#each @root.subnav.subsections}}
						<li class="o-header__subnav-item">
							<a class="o-header__subnav-link {{#if selected}}o-header__subnav-link--highlight{{/if}}" href="{{href}}" aria-selected="{{selected}}" data-trackable="{{name}}">
								{{name}}
							</a>
						</li>
						{{/each}}
					</ul>
					{{/if}}

				</div>
			</div>
			<button class="o-header__subnav-button o-header__subnav-button--left" aria-label="scroll left" aria-hidden="true" disabled>scroll left</button>
			<button class="o-header__subnav-button o-header__subnav-button--right" aria-label="scroll right" aria-hidden="true" disabled>scroll right</button>
		</div>
	</div>
</div>
