@include nUiMaybeCriticalStart('tourTip');

@if nUiApply('tourTip') {

	.tour-tip__main {
		overflow: hidden;
	}

	.tour-tip__text {
		margin: 20px;
	}

	.tour-tip__link {
		@include oColorsFor(topic, text);
		@include oTypographySansDataBold('m', $load-progressively: true);
		@include oTypographyFallbackFontSize('sansDataBold', 16px);
		border-bottom: 0;
		line-height: 1;
		margin: 0 0 $spacing-unit/2;
	}

	.tour-tip__standout {
		@include oTypographySerifDisplay('l');
		margin: 0;
	}

	.tour-tip__body {
		@include oTypographySans('m', $load-progressively: true);
		margin: $spacing-unit 0 0;
	}

	.tour-tip__body-link {
		@include nLinksBody();
	}

	.tour-tip__cta {
		margin: $spacing-unit $spacing-unit 0 0;
		display: inline-block;
	}

	.tour-tip__img-container {
		overflow: hidden;
		padding: 20px;
	}

	@include oGridRespondTo($from: 'M') {
		// Styling wise, ‘m’ is the same as ‘l’
		// (there are only differences at the data layer)
		.tour-tip--m,
		.tour-tip--l {
			.tour-tip__main {
				align-items: center;
				display: flex;
				overflow: hidden;
				padding: $spacing-unit*2;
			}

			.tour-tip__img-container {
				float: left;
				margin: 0 $spacing-unit*3 0 0;
				order: 1;
				padding: $spacing-unit 0;
				text-align: center;
				width: 40%;
			}

			.tour-tip__text {
				float: right;
				margin: 0;
				order: 2;
				width: calc(60% - #{$spacing-unit * 3});
			}

			.tour-tip__link {
				margin: 0 0 $spacing-unit;
			}

			.tour-tip__standout {
				@include oTypographySerifSize('xl');
			}

			.tour-tip__cta {
				@include oButtonsSize('big');
				margin-top: $spacing-unit;
			}
		}

		.tour-tip--l {

			.tour-tip__body {
				margin: $spacing-unit * 1.5 0 0;
			}

			.tour-tip__cta {
				margin-top: $spacing-unit * 1.5;
			}

		}
	}

}

@include nUiMaybeCriticalEnd('tourTip');
