//tourTip sizes:      S------------>M/L--------->
//o-grid breakpoints: default-->S-->M-->L-->XL--> (for reference)
//Styling wise, ‘L’ is the same as ‘M’ (there are only differences at the data layer)

@mixin tourS() {
	.tour-tip {
		background: getColor('warm-5');
		color: getColor('cold-1');
	}

	.tour-tip__main {
		overflow: hidden;
	}

	.tour-tip__img-container {
	}

	.tour-tip__text {
		margin: $spacing-unit;
	}

	.tour-tip__link {
		// @include nLinksTopic;
		@include oColorsFor(topic, text);
		@include oTypographySansDataBold('m', $load-progressively: true);
		@include oTypographyFallbackFontSize('sansDataBold', 16px);
		border-bottom: 0;
		line-height: 1;
		margin: 0 0 $spacing-unit/2;
	}

	.tour-tip__standout {
		@include oTypographySerif('m');
		margin: 0;
	}

	.tour-tip__cta {
		margin: $spacing-unit 0 0;
	}
}

@mixin tourM() {
	.tour-tip__main {
		align-items: center;
		display: flex;
		overflow: hidden;
		padding: $spacing-unit*3;
	}

	.tour-tip__img-container {
		float: left;
		margin: 0 $spacing-unit*3 0 0;
		order: 1;
		text-align: center;
		width: 50%;
	}

	.tour-tip__text {
		float: right;
		margin: 0;
		order: 2;
		width: 50%;
	}

	.tour-tip__link {
		margin: 0 0 $spacing-unit;
	}

	.tour-tip__standout {
		@include oTypographySerifSize('l');
	}

	.tour-tip__cta {
		@include oButtonsSize('big');
		margin-top: $spacing-unit*2;
	}
}

@include nUiCriticalStart('tourTip');

@if nUiApply('tourTip') {

	@include tourS;

	@include oGridRespondTo($from: 'M') {
		.tour-tip--m,
		.tour-tip--l {
			@include tourM;
		}
	}

	.tour-tip--reversed {
		.tour-tip__img-container {
			float: right;
			margin: 0 0 0 $spacing-unit*3;
			order: 2;
		}

		.tour-tip__text {
			float: left;
			order: 1;
		}
	}
}

@include nUiCriticalEnd('tourTip');
