@import 'n-sliding-popup/main';

.subscription-prompt,
.subscription-prompt--us {
	max-width: 500px;
}

.subscription-prompt--flag {
	background-color: #E76836;
	border-radius: 3px;
	padding: 4px 9px 5px;
	text-align: center;
	color: white;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 17px;
	margin-bottom: 10px;
	display: inline-block;
}

.subscription-prompt .subscription-prompt--heading {
	@include oTypographySansBold(m);
	color: oColorsGetPaletteColor('grey-tint5');
	margin: 0 0 4px;

	@include oGridRespondTo(M) {
		@include oTypographySansBold(l);
	}
}

.subscription-prompt .subscription-prompt--subheading {
	@include oTypographySansBold(s);
	font-weight: 300;
	color: oColorsGetPaletteColor('grey-tint5');
	display: inline-block;
	margin-bottom: 20px;

	@include oGridRespondTo(M) {
		@include oTypographySans(m);
	}
}

.subscription-prompt--benefits {
	@include oTypographySansBold(s);
	display: none;
	list-style: none;
	font-weight: normal;
	padding: 0;
	margin: 0;

	@include oGridRespondTo(M) {
		display: block;
	}
}

.subscription-prompt--benefit {
	position: relative;
	margin-left: 20px;
	margin-bottom: 6px;
	color: oColorsGetPaletteColor('grey-tint5');

	&:before {
		@include oIconsGetIcon('tick', #35bd14, 14);
		content: '';
		margin-right: 4px;
		position: absolute;
		top: 2px;
		left: -20px;
	}
}

.subscription-prompt .subscription-prompt--subscribe-btn {
	@include oButtons(medium, standard);
	@include oButtonsSize(small);
	@include oButtonsTheme(standout);

	font-size: 16px;
	text-transform: none;
	padding: 5px 9px 7px;
	margin-top: 8px;

	@include oGridRespondTo(M) {
		margin-top: 24px;
		width: 140px;
	}
}

.subscription-prompt--aside {
	display: none;

	@include oGridRespondTo(M) {
		display: block;
	}
}

.subscription-prompt--figure {
	margin: 0;
	position: absolute;
	top: -24px;
	right: 10px;
}

.subscription-prompt--figure-caption {
	color: oColorsGetPaletteColor('grey-tint5');
	font-size: 16px;
}

// US Election Prompt
// Please forgive the hardcoding here. its a temporary offer

// override `.n-sliding-prompt` prompt defaults
.subscription-prompt--us {
	background-color: #0088c1;
	border: 0;
	border-radius: 0;
}

.subscription-prompt--us .subscription-prompt--wrapper {
	text-align: center;
}

.subscription-prompt--us-elect .subscription-prompt--wrapper {
	text-align: left;
	padding: 0 20px;
}

.subscription-prompt--us .subscription-prompt--heading {
	border-bottom: 2px solid #eed485;
	text-transform: uppercase;
	margin: 0;
	line-height: 1.2;
	padding-bottom: 5px;

	@include oGridRespondTo($from: 'M') {
		line-height: 1.5;
		padding-bottom: 0;
	}
}

.subscription-prompt--us .subscription-prompt--subheading {
	@include oTypographySans(m);
	@include font-size(19);
	padding-top: 5px;
}

.subscription-prompt--us .subscription-prompt--heading,
.subscription-prompt--us .subscription-prompt--subheading {
	color: #fff;
	display: block;
}

.subscription-prompt--us .subscription-offer-prompt--badge {
	display: block;
	height: 35px;
	z-index: 1;

	@include oGridRespondTo($from: 'M') {
		height: 50px;
	}
}

.subscription-prompt--us-elect .subscription-offer-prompt--badge {
	position: relative; // for z-index layering of marquee and badge img
}

.subscription-prompt--us .subscription-offer-prompt--badge img {
	max-width: 100px;
	margin-top: -35px;

	@include oGridRespondTo($from: 'M') {
		max-width: 190px;
		margin-top: -65px;
	}
}

.subscription-prompt--us .subscription-prompt--subscribe-btn {
	color: #fff;
	background-color: #9e2f50;
	padding: 7px 5px 5px 12px;
	display: inline-block;
	margin-top: 15px;
}

.subscription-prompt--us .subscription-prompt--subscribe-btn:hover {
	cursor: pointer;
}

.subscription-prompt--disclaimer {
	text-align: right;
	display: block;
	padding-top: 15px;
	color: #97cee3;
	font-size: 8px;
	@include oTypographySans(xs);
}

.subscription-prompt--us .subscription-offer-prompt--marquee {
	background-color: #9e2f50;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}

.subscription-prompt--marquee-badge {
	padding: 5px 5px 5px 150px;
	margin: 0;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;

	@include oGridRespondTo($from: 'M') {
		padding: 5px 5px 5px 250px;
	}
}

.subscription-prompt--us .icon-go {
	background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:play?source=o-icons&tint=%23FFFFFF,%23FFFFFF&format=svg);
	background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:play?source=o-icons&tint=%23FFFFFF,%23FFFFFF&format=png&width=20) \9;
	width: 20px;
	height: 20px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% -2px;
	background-color: transparent;
	vertical-align: baseline;
	float: left;
}
