@import 'o-buttons/main';

@mixin buttonWithIcon($iconSpace, $iconSize, $colorOff, $iconOff, $iconOn: $iconOff, $colorOn: $colorOff) {
	$topMargin: #{$iconSize * -0.5}px;
	$horizontalMargin: #{($iconSpace - $iconSize) / 2}px;
	position: relative;
	padding-left: #{$iconSpace}px;
	&:before {
		@include oIconsGetIcon($iconOff, $colorOff, $iconSize);
		content: ' ';
		position: absolute;
		top: 50%;
		left: $horizontalMargin;
		margin: $topMargin $horizontalMargin 0 0;
	}
	&[aria-pressed="true"]:before {
		@include oIconsGetIcon($iconOn, $colorOn, $iconSize);
	}
}

@mixin nUiMyftCommon () {
	@include nUiStylesheetStart('head-n-ui-core');
	.myft-ui,
	.n-myft-ui {
		display: inline-block;
	}

	.n-myft-ui__button {
		@include oButtons();
	}

	.n-myft-ui__button--inverse {
		@include oButtonsTheme(inverse);
	}

	.n-myft-ui__button--uncolored {
		@include oButtonsTheme(uncolored);
	}

	.n-myft-ui__button--medium {
		@include oButtonsSize(medium);
	}

	.n-myft-ui__button--big {
		@include oButtonsSize(big);
	}

	.n-myft-ui__fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	.n-myft-ui__legend {
		@include oTypographySans('s', $load-progressively: true);
		margin-bottom: 10px;
	}

	.n-myft-ui--follow {
		position: relative;
		.n-myft-ui__button {
			@include buttonWithIcon(26, 24, getColor('link-1'), 'plus', 'tick');
		}

		.n-myft-ui__button--inverse {
			@include buttonWithIcon(26, 24, getColor('white'), 'plus', 'tick', getColor('black'));
		}

		.n-myft-ui__button--uncolored {
			@include buttonWithIcon(26, 24, getColor('black'), 'plus', 'tick', getColor('white'));
		}
	}

	.n-myft-ui--instant {
		position: relative;
		.n-myft-ui__button {
			@include buttonWithIcon(26, 24, getColor('link-1'), 'mail');
		}
		.n-myft-ui__button--inverse {
			@include buttonWithIcon(26, 24, getColor('link-2'), 'mail');
		}
	}

	.enhanced .myft-ui__core-text {
		display: none;
	}

	.myft-ui__logo {
		border: 0;
	}

	.myft-ui__icon {
		@include nGetImage('logo', 'brand-myft', white, 16);
		width: 34px;
		margin: 0 8px -5px;
	}

	// shouldn't really be in here, but a temporary hack while n-ui styles are on the move
	.myft-hint {
		display: none;
	}

	.n-myft-digest-promo {
		display: none;
	}

	@include nUiStylesheetEnd('head-n-ui-core');
}

$n-ui-myft-common-applied: false !default;

@if $n-ui-myft-common-applied == false {
	$n-ui-myft-common-applied: true;
	@include nUiMyftCommon;
}
