@import '../buttons/main';

@mixin nUiMyftCommon () {
	@include nUiCriticalStart;
	.myft-ui,
	.n-myft-ui {
		display: inline-block;
	}

	.n-myft-ui__button {
		@include oButtons();
	}

	.n-myft-ui__button--inverse {
		@include oButtonsTheme(inverse);
	}

	.n-myft-ui__button--medium {
		@include oButtonsSize(medium);
	}

	.n-myft-ui__button--big {
		@include oButtonsSize(big);
	}

	.n-myft-ui__fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	.n-myft-ui__legend {
		@include oTypographySans('s', $load-progressively: true);
		margin-bottom: 10px;
	}

	.n-myft-ui--follow {
		position: relative;
		.n-myft-ui__button {
			@include buttonWithIcon(26, 24, getColor('link-1'), 'plus', 'tick');
		}
		.n-myft-ui__button--inverse {
			@include buttonWithIcon(26, 24, getColor('link-2'), 'plus', 'tick');
		}
	}

	.n-myft-ui--instant {
		position: relative;
		.n-myft-ui__button {
			@include buttonWithIcon(26, 24, getColor('link-1'), 'mail');
		}
		.n-myft-ui__button--inverse {
			@include buttonWithIcon(26, 24, getColor('link-2'), 'mail');
		}
	}

	.js .myft-ui__core-text {
		display: none;
	}

	.myft-ui__logo {
		border: 0;
	}

	.myft-ui__icon {
		@include nGetImage('logo', 'brand-myft', white, 16);
		width: 34px;
		margin: 0 8px -5px;
	}
	@include nUiCriticalEnd;
}

@if nUiApply('myftCommon') {
	@include nUiMyftCommon;
}
