@import '../buttons/main';

@mixin nUiMyftCommon () {
	@include nUiCriticalStart('myftCommon');
	.myft-ui,
	.n-myft-ui {
		display: inline-block;
	}

	.n-myft-ui__button {
		@include oButtons();
	}

	.n-myft-ui__button--inverse {
		@include oButtonsTheme(inverse);
	}

	.n-myft-ui__button--medium {
		@include oButtonsSize(medium);
	}

	.n-myft-ui__button--big {
		@include oButtonsSize(big);
	}

	.n-myft-ui__fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	.n-myft-ui__legend {
		@include oTypographySans(s);
		margin-bottom: 10px;
	}

	.n-myft-ui--follow {
		position: relative;

		.n-myft-ui__button {
			padding-left: 26px;
			position: relative;

			&:before {
				@include oIconsGetIcon('plus', getColor('link-1'), 12);
				content: ' ';
				left: $spacing-unit/2;
				margin: -6px $spacing-unit/4 0 0;
				position: absolute;
				top: 50%;
			}

			&[aria-pressed="true"]:before {
				@include oIconsGetIcon('tick-thin', getColor('link-1'), 12);
			}
		}

		.n-myft-ui__button--inverse {
			&:before {
				@include oIconsGetIcon('plus', getColor('link-2'), 12);
			}

			&[aria-pressed="true"]:before {
				@include oIconsGetIcon('tick-thin', getColor('link-2'), 12);
			}
		}
	}

	.js .myft-ui__core-text {
		display: none;
	}

	.myft-ui__logo {
		border: 0;
	}

	.myft-ui__icon {
		@include nGetImage('logo', 'brand-myft', white, 16);
		width: 34px;
		margin: 0 8px -5px;
	}
	@include nUiCriticalEnd('myftCommon');
}

@if nUiApply('myftCommon') {
	@include nUiMyftCommon;
}
