////
/// @group n-ui functions
////

/// Test if the given feature is configured
/// @param {String} $feature
/// @returns {Bool}
@function nUiHas($feature) {
	@return nUiFeatureValue($feature) == true or nUiFeatureValue($feature) == 'critical';
}

/// Get the value of a given feature (true|false|critical)
/// @param {String} $feature
/// @returns {Bool|String}
@function nUiFeatureValue($feature) {
	@return map-get($_n-ui-features, $feature);
}

/// Test to check if the given module is configured and whether it has been output already
/// @param {String} $module-name
/// @param {String} $partial-name
/// @returns {Bool}
@function nUiApply($module-name, $partial-name: '') {
	@if nUiHas($module-name) {
		$full-name: $module-name + $partial-name;
		$should-apply: index($n-ui-imported-modules, $full-name) == null;

		@if ($should-apply) {
			$n-ui-imported-modules: append($n-ui-imported-modules, $full-name) !global;
		}

		@return $should-apply;
	}

	@return false;
}
