@function nUiHas($feature) {
	@return map-get($_n-ui-features, $feature) == true;
}

@function nUiCriticalStart() {
	@warn '`nUiCriticalStart()` function is deprecated. Use the mixin of the same name instead';
	@if nUiHas('critical') {
		@return '! start:head.css ';
	}

	@return '';
}

@function nUiCriticalEnd() {
	@warn '`nUiCriticalEnd()` function is deprecated. Use the mixin of the same name instead';
	@if nUiHas('critical') {
		@return '! end:head.css ';
	}

	@return '';
}


@mixin nUiCriticalStart() {
	@if nUiHas('critical') {
		/*! start:head.css*/
	}
}

@mixin nUiCriticalEnd() {
	@if nUiHas('critical') {
		/*! end:head.css*/
	}
}

@mixin nUiConfigure($opts: ()) {
	@if $_n-ui-configured == true {
		@error 'nUiConfigure must only be called once';
	}

	$_n-ui-configured: true !global;

	@if map-has-key($opts, preset) {
		$preset: map-get($_n-ui-presets, map-get($opts, preset));
		$_n-ui-features: map-merge($_n-ui-features, $preset) !global;
		$opts: map-remove($opts, preset);
	}

	$_n-ui-features: map-merge($_n-ui-features, $opts) !global;
}

@mixin nUiConfigureDebug() {
	/*! n-ui features: #{inspect($_n-ui-features)} */
}

@mixin nUiIe8Only () {
	@if variable-exists('_n-ui-is-ie8') or $o-grid-ie8-rules == 'only' {
		@content
	}
}

@mixin nUiNotIe8 () {
	@if not (variable-exists('_n-ui-is-ie8') or $o-grid-ie8-rules == 'only') {
		@content
	}
}
