////
/// @group n-ui mixins
////

/// Critical block start
/// @output A critical block start comment
@mixin nUiCriticalStart() {
	@if nUiHas('critical') {
		/*! start:head.css*/
	}
}

/// Critical block end
/// @output A critical block start comment
@mixin nUiCriticalEnd() {
	@if nUiHas('critical') {
		/*! end:head.css*/
	}
}

/// Include rules for IE8 only block
/// @content
@mixin nUiIe8Only () {
	@if variable-exists('_n-ui-is-ie8') or $o-grid-ie8-rules == 'only' {
		@content
	}
}

/// Exclude rules from IE8 block
/// @content
@mixin nUiNotIe8 () {
	@if not (variable-exists('_n-ui-is-ie8') or $o-grid-ie8-rules == 'only') {
		@content
	}
}

/// Configure n-ui
/// @output none
@mixin nUiConfigure($opts: ()) {
	@if $_n-ui-configured == true {
		@error 'nUiConfigure must only be called once';
	}

	$_n-ui-configured: true !global;

	@if map-has-key($opts, preset) {
		$preset: map-get($_n-ui-presets, map-get($opts, preset));
		$_n-ui-features: map-merge($_n-ui-features, $preset) !global;
		$opts: map-remove($opts, preset);
	}

	$_n-ui-features: map-merge($_n-ui-features, $opts) !global;
}


/// Debug comment
/// @output A loud comment listing configured n-ui features
@mixin nUiConfigureDebug() {
	/*! n-ui features: #{inspect($_n-ui-features)} */
}

/// Pinstripe background
/// @param {Color} $background
/// @param {Color} $foreground
/// @param {String} $style - 'tight' or 'loose'
/// @output A repeating linear gradient background
@mixin nUiPinstripeBG($background: gray, $foreground: rgba(0, 0, 0, 0.2), $style: 'tight') {
	background-color: $background;

	// complex: these values are throughly tested to check for strobing.
	// complex: setting the bg size avoids rounding errors that cause odd strobing.
	@if $style == 'tight' {
		background-image: repeating-linear-gradient(
			135deg,
			$foreground 0,
			$foreground 1.5px,
			transparent 1.5px,
			transparent 3px
		);
		background-size: 4px 4px;
	}

	@if $style == 'loose' {
		background-image: repeating-linear-gradient(
			135deg,
			transparent 0,
			transparent 1px,
			$foreground 1px,
			$foreground 2px,
			transparent 2px,
			transparent 5px
		);
		background-size: 7px 7px;
	}
}

/// Crosshatch background
/// @deprecated
@mixin nCrosshatchBG($args...) {
	@warn '`nCrosshatchBG` has been deprecated, use `nUiPinstripeBG` instead';
	@include nUiPinstripeBG($args...);
}
