////
/// @group n-ui variables
////

/// Experimental support for multiple head CSS bundles
/// @type String
$n-ui-variant: null !default;

/// When true head CSS comment pragmas will be output
/// @type Boolean
$n-ui-output-critical: false !default;

/// List of imported modules
/// @type List
/// @private
$n-ui-imported-modules: () !default;

/// List of configured enabled features
/// @type List
/// @private
$n-ui-features: () !default;


$_n-ui-core: ads grid header layout normalize typography utils;

