@include nUiCriticalStart('layout');

$_n-ui-layout-applied: false !default;
$_n-ui-layout-is-silent: nUiHas('layout') == false or $_n-ui-layout-applied == true;

@if $_n-ui-layout-is-silent == false {
	.core .o--if-js,
	.enhanced .o--if-no-js {
		display: none !important;
	}

	html {
		@include oColorsFor(page);
		// Prevent navigation menus from creating
		// extra space on sides of the page
		overflow-x: hidden;
	}

	body {
		margin: 0;
	}
	.n-layout {
		display: table;
		width: 100%;
		min-height: 100vh;
		table-layout: fixed;
	}

	.n-layout__row {
		display: table-row;
	}

	.n-layout__row--content {
		height: 100%;
	}

	@media print {
		.n-layout,
		.n-layout__row {
			display: block;
		}
	}

	$_n-layout_applied: true !global;
}

@include nUiCriticalEnd('layout');
