$_n-layout_applied: false !default;

@if $_n-layout_applied == false {

	/*#{nUiCriticalStart()}*/
	.core .o--if-js,
	.enhanced .o--if-no-js {
		display: none !important;
	}

	html {
		@include oColorsFor(page);
		// Prevent navigation menus from creating
		// extra space on sides of the page
		overflow-x: hidden;
	}

	body {
		margin: 0;
	}
	.n-layout {
		display: table;
		width: 100%;
		min-height: 100vh;
		table-layout: fixed;
	}

	.n-layout__row {
		display: table-row;
	}

	.n-layout__row--content {
		height: 100%;
	}

	@media print {
		.n-layout,
		.n-layout__row {
			display: block;
		}
	}
	/*#{nUiCriticalEnd()}*/

	$_n-layout_applied: true;

} @else {
	@warn "n-ui/layout should only be imported once.";
}





