<!DOCTYPE html>
{{>n-ui/foundation/layout/partials/html-tag}}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{#title}}{{{this}}} &mdash; {{/title}}FT.com</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#333333">

		{{#if setBase}}
		<base target="_parent" href="{{setBase}}">
		{{/if}}
		{{#each dnsPrefetch}}
		<link rel="dns-prefetch" href="{{this}}">
		{{/each}}
		<link rel="preconnect" href="https://next-geebee.ft.com">
		<link rel="preconnect" href="https://ads-api.ft.com">
		<link rel="preconnect" href="https://spoor-api.ft.com">
		{{#each preconnect}}
		<link rel="preconnect" href="{{this}}">
		{{/each}}

		{{#if headCss}}
		<!--[if gte IE 9]><!-->
		<style>
		{{{headCss}}}
		</style>
		<!--<![endif]-->
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="{{#hashedAsset}}head-ie8.css{{/hashedAsset}}" />
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<link rel="preload" href="{{#hashedAsset}}main.css{{/hashedAsset}}" as="style" onload="this.rel='stylesheet'">
		<noscript>
			<link rel="stylesheet" href="{{#hashedAsset}}main.css{{/hashedAsset}}" />
		</noscript>
		<!--<![endif]-->
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="{{#hashedAsset}}main-ie8.css{{/hashedAsset}}" />
		<![endif]-->
		{{else}}
		{{#if hasIe8Stylesheet}}
		<!--[if gte IE 9]><!-->
		<link rel="stylesheet" href="{{#hashedAsset}}main.css{{/hashedAsset}}">
		<!--<![endif]-->
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="{{#hashedAsset}}main-ie8.css{{/hashedAsset}}" />
		<![endif]-->
		{{else}}
		<link rel="stylesheet" href="{{#hashedAsset}}main.css{{/hashedAsset}}">
		{{/if}}
		{{/if}}
		<!--[if lte IE 8]>
		<script src="https://next-geebee.ft.com/assets/js/html5shiv.min.js"></script>
		<![endif]-->
		<link rel="icon" type="image/png" href="https://next-geebee.ft.com/assets/brand-alpha/icons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="https://next-geebee.ft.com/assets/brand-alpha/icons/favicon-194x194.png" sizes="194x194">
		<link rel="apple-touch-icon" sizes="180x180" href="https://next-geebee.ft.com/assets/brand-alpha/icons/apple-touch-icon-180x180.png">
		<link rel="manifest" href="/assets/manifest/manifest-v2.json">

		<meta name="msapplication-TileColor" content="#fff1e0">
		<meta name="msapplication-TileImage" content="https://next-geebee.ft.com/assets/brand-alpha/icons/mstile-144x144.png">
		{{#if og}}
		<meta property="og:title" content="{{ og.title }}">
		<meta property="og:url" content="{{ og.url }}">
		<meta property="og:description" content="{{ og.description }}">
		{{#if og.image}}<meta property="og:image" content="{{ og.image }}">{{/if}}
		<meta property="og:type" content="article">
		<meta property="og:site_name" content="Financial Times">
		{{/if}}
		{{#if twitterCard}}
		<meta property="twitter:card" content="{{ twitterCard.card }}">
		<meta property="twitter:site" content="@FinancialTimes">
		<meta property="twitter:title" content="{{ twitterCard.title }}">
		<meta property="twitter:description" content="{{ twitterCard.description }}">
		{{#if twitterCard.image}}<meta property="twitter:image" content="{{ twitterCard.image }}">{{/if}}
		{{/if}}

		{{#outputBlock 'head'}}{{/outputBlock}}

		<script>
			{{>next-js-setup/templates/ctm}}
			{{>next-sass-setup/templates/enhance-fonts}}
			(function () {
				var p = window.performance || window.msPerformance || window.webkitPerformance || window.mozPerformance;
				if (document.fonts && p && p.mark) {
					document.fonts.onloadingdone = function () {
						p.mark('fontsLoaded');
					};
				}
			}());
		</script>
	</head>
	<body data-next-is-logged-in="{{@root.anon.userIsLoggedIn}}" data-trackable="page:{{@root.__name}}{{#if @root.trackablePageName}}/{{@root.trackablePageName}}{{/if}}" >
		<div class="n-layout">
			<div class="n-layout__row n-layout__row--content">

				{{#outputBlock 'above-header'}}{{/outputBlock}}
				{{>n-header-footer/header/template content=header}}

				{{{body}}}
			</div>
			<div class="n-layout__row n-layout__row--footer">
				{{#if @root.flags.welcomePanel}}
				{{>next-welcome/templates/main}}
				{{/if}}
				{{>n-header-footer/footer/template content=footer}}
			</div>

			{{#if @root.flags.javascript}}
			<script>
				{{>next-feature-flags-client/templates/flags}}
				{{#if anon}}
				window.nextIsAnonymous = {{anon.userIsAnonymous}};
				{{/if}}
				{{>next-js-setup/templates/bootstrapper}}
			</script>
			{{/if}}

			{{>n-third-party-code/templates/core-analytics}}
		</div>
	</body>
</html>
