<!DOCTYPE html>
{{>n-ui/layout/partials/html-tag}}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{#title}}{{{this}}} &mdash; {{/title}}FT.com</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#333333">

		{{#if setBase}}
		<base target="_parent" href="{{setBase}}">
		{{/if}}
		{{#each dnsPrefetch}}
		<link rel="dns-prefetch" href="{{this}}">
		{{/each}}
		<link rel="preconnect" href="https://next-geebee.ft.com">
		<link rel="preconnect" href="https://ads-api.ft.com">
		<link rel="preconnect" href="https://spoor-api.ft.com">
		{{#each preconnect}}
		<link rel="preconnect" href="{{this}}">
		{{/each}}

		{{>n-ui/layout/partials/stylesheets}}

		<link rel="icon" type="image/png" href="https://next-geebee.ft.com/assets/brand-alpha/icons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="https://next-geebee.ft.com/assets/brand-alpha/icons/favicon-194x194.png" sizes="194x194">
		<link rel="apple-touch-icon" sizes="180x180" href="https://next-geebee.ft.com/assets/brand-alpha/icons/apple-touch-icon-180x180.png">
		<link rel="manifest" href="/assets/manifest/manifest-v2.json">

		<meta name="msapplication-TileColor" content="#fff1e0">
		<meta name="msapplication-TileImage" content="https://next-geebee.ft.com/assets/brand-alpha/icons/mstile-144x144.png">
		{{#if og}}
		<meta property="og:title" content="{{ og.title }}">
		<meta property="og:url" content="{{ og.url }}">
		<meta property="og:description" content="{{ og.description }}">
		{{#if og.image}}<meta property="og:image" content="{{ og.image }}">{{/if}}
		<meta property="og:type" content="article">
		<meta property="og:site_name" content="Financial Times">
		{{/if}}
		{{#if twitterCard}}
		<meta property="twitter:card" content="{{ twitterCard.card }}">
		<meta property="twitter:site" content="@FinancialTimes">
		<meta property="twitter:title" content="{{ twitterCard.title }}">
		<meta property="twitter:description" content="{{ twitterCard.description }}">
		{{#if twitterCard.image}}<meta property="twitter:image" content="{{ twitterCard.image }}">{{/if}}
		{{/if}}

		{{#outputBlock 'head'}}{{/outputBlock}}

		<script>
			{{>n-ui/layout/partials/ctm}}
			{{>n-ui/typography/enhance-fonts}}
		</script>
	</head>
	<body data-next-is-logged-in="{{@root.anon.userIsLoggedIn}}" data-trackable="page:{{@root.__name}}{{#if @root.trackablePageName}}/{{@root.trackablePageName}}{{/if}}" >
		<div class="n-layout">
			<div class="n-layout__row n-layout__row--content">

				{{#outputBlock 'above-header'}}{{/outputBlock}}
				{{>n-header-footer/header/template content=header}}

				{{{body}}}
			</div>
			<div class="n-layout__row n-layout__row--footer">
				{{#if @root.flags.welcomePanel}}
				{{>n-ui/welcome-message/template}}
				{{/if}}
				{{>n-header-footer/footer/template content=footer}}
			</div>

			{{#if @root.flags.javascript}}
			<script>
				{{>next-feature-flags-client/templates/flags}}
				{{#if anon}}
				window.nextIsAnonymous = {{anon.userIsAnonymous}};
				{{/if}}
				{{>n-ui/layout/partials/bootstrapper}}
			</script>
			{{/if}}

			{{>n-third-party-code/templates/core-analytics}}
		</div>
	</body>
</html>
