@include nUiCriticalStart('footer');

$_n-ui-footer-applied: false !default;
$_n-ui-footer-is-silent: nUiHas('footer') == false or $_n-ui-footer-applied == true;
$n-header-footer-is-silent: $_n-ui-footer-is-silent;

@import 'n-header-footer/footer/footer';
@import 'n-header-footer/drawer/drawer';

@if $_n-ui-footer-is-silent == false {
	$_n-ui-footer-applied: true !global;
	$n-header-footer-is-silent: true !global;
}

@include nUiCriticalEnd('footer');
