$o-footer-is-silent: not nUiHas('footer') !default;

@include nUiMaybeCriticalStart('footer');

@import "o-footer/main";

.n-footer__link--s {
	display: none;
	@include oGridRespondTo('S') {
		display: block;
	}
}

@include nUiMaybeCriticalEnd('footer');
