.myft-ui,
.n-myft-ui {
  display: inline-block;
}.n-myft-ui__button {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  margin: 0;
  outline: 0;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  font-family: MetricWeb, sans-serif;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.3s background-color, 0.15s color ease-out, 0.15s border-color ease-out;
  transition: 0.3s background-color, 0.15s color ease-out, 0.15s border-color ease-out;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-clip: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 16px;
  min-height: 26px;
  min-width: 26px;
  padding: 5px 8px 5px 8px;
  font-size: 14px;
  line-height: 14px;
  border-width: 1px;
  color: #26747a;
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(38, 116, 122, 0.15);
}.n-myft-ui__button[aria-selected=true], .n-myft-ui__button[aria-pressed=true] {
  color: #164447;
  background-color: rgba(43, 187, 191, 0.4) !important;
  border-color: rgba(38, 116, 122, 0.5);
}.n-myft-ui__button:not([disabled]):focus:not(:hover),
.o-hoverable-on .n-myft-ui__button:not([disabled]):hover {
  background-color: rgba(43, 187, 191, 0.1);
  border-color: rgba(38, 116, 122, 0.5);
}.n-myft-ui__button:not([disabled]):active {
  color: #164447;
  border-color: #f7e9d9;
}.n-myft-ui__button:focus:not(:active):not(:hover) {
  -webkit-box-shadow: inset 0 0 0 1px rgba(38, 116, 122, 0.5);
          box-shadow: inset 0 0 0 1px rgba(38, 116, 122, 0.5);
}.n-myft-ui__button[disabled] {
  pointer-events: none;
  opacity: 0.4;
  cursor: default;
}.n-myft-ui__button::-moz-focus-inner {
  border: 0;
  padding: 0;
}.n-myft-ui__button--inverse {
  color: #2bbbbf;
  background-color: rgba(29, 29, 29, 0.5);
  border-color: rgba(38, 116, 122, 0.8);
}.n-myft-ui__button--inverse[aria-selected=true], .n-myft-ui__button--inverse[aria-pressed=true] {
  color: #fff1e0;
  background-color: #214042 !important;
  border-color: rgba(38, 116, 122, 0.8);
}.n-myft-ui__button--inverse:not([disabled]):focus:not(:hover),
.o-hoverable-on .n-myft-ui__button--inverse:not([disabled]):hover {
  background-color: #1f3030;
  border-color: rgba(43, 187, 191, 0.6);
}.n-myft-ui__button--inverse:not([disabled]):active {
  color: #fff1e0;
}.n-myft-ui__button--medium {
  background-size: 16px;
  min-height: 26px;
  min-width: 26px;
  padding: 5px 8px 5px 8px;
  font-size: 14px;
  line-height: 14px;
  border-width: 1px;
}.n-myft-ui__button--big {
  background-size: 18px;
  min-height: 36px;
  min-width: 36px;
  padding: 8px 18px 8px 18px;
  font-size: 18px;
  line-height: 18px;
  border-width: 1px;
}.n-myft-ui__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}.n-myft-ui__legend {
  font-family: sans-serif;
  font-size: 13.05px;
  line-height: 17px;
  font-weight: 400;
  margin-bottom: 10px;
}.o-typography--loaded-sans .n-myft-ui__legend {
  font-family: MetricWeb, sans-serif;
  font-size: 15px;
}.n-myft-ui--follow {
  position: relative;
}.n-myft-ui--follow .n-myft-ui__button {
  position: relative;
  padding-left: 26px;
}.n-myft-ui--follow .n-myft-ui__button:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:plus?source=o-icons&tint=%2326747A,%2326747A&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:plus?source=o-icons&tint=%2326747A,%2326747A&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 1px;
  margin: -12px 1px 0 0;
}.n-myft-ui--follow .n-myft-ui__button[aria-pressed="true"]:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?source=o-icons&tint=%2326747A,%2326747A&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?source=o-icons&tint=%2326747A,%2326747A&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
}.n-myft-ui--follow .n-myft-ui__button--inverse {
  position: relative;
  padding-left: 26px;
}.n-myft-ui--follow .n-myft-ui__button--inverse:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:plus?source=o-icons&tint=%232BBBBF,%232BBBBF&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:plus?source=o-icons&tint=%232BBBBF,%232BBBBF&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 1px;
  margin: -12px 1px 0 0;
}.n-myft-ui--follow .n-myft-ui__button--inverse[aria-pressed="true"]:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?source=o-icons&tint=%232BBBBF,%232BBBBF&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?source=o-icons&tint=%232BBBBF,%232BBBBF&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
}.n-myft-ui--instant {
  position: relative;
}.n-myft-ui--instant .n-myft-ui__button {
  position: relative;
  padding-left: 26px;
}.n-myft-ui--instant .n-myft-ui__button:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%2326747A,%2326747A&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%2326747A,%2326747A&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 1px;
  margin: -12px 1px 0 0;
}.n-myft-ui--instant .n-myft-ui__button[aria-pressed="true"]:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%2326747A,%2326747A&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%2326747A,%2326747A&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
}.n-myft-ui--instant .n-myft-ui__button--inverse {
  position: relative;
  padding-left: 26px;
}.n-myft-ui--instant .n-myft-ui__button--inverse:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%232BBBBF,%232BBBBF&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%232BBBBF,%232BBBBF&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 1px;
  margin: -12px 1px 0 0;
}.n-myft-ui--instant .n-myft-ui__button--inverse[aria-pressed="true"]:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%232BBBBF,%232BBBBF&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%232BBBBF,%232BBBBF&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
}.js .myft-ui__core-text {
  display: none;
}.myft-ui__logo {
  border: 0;
}.myft-ui__icon {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-myft?source=next&tint=%23FFFFFF,%23FFFFFF&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-myft?source=next&tint=%23FFFFFF,%23FFFFFF&format=png&width=16") \9;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
  width: 34px;
  margin: 0 8px -5px;
}.myft-ui,
.n-myft-ui {
  display: inline-block;
}.n-myft-ui__button {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  margin: 0;
  outline: 0;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  font-family: MetricWeb, sans-serif;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.3s background-color, 0.15s color ease-out, 0.15s border-color ease-out;
  transition: 0.3s background-color, 0.15s color ease-out, 0.15s border-color ease-out;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-clip: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 16px;
  min-height: 26px;
  min-width: 26px;
  padding: 5px 8px 5px 8px;
  font-size: 14px;
  line-height: 14px;
  border-width: 1px;
  color: #26747a;
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(38, 116, 122, 0.15);
}.n-myft-ui__button[aria-selected=true], .n-myft-ui__button[aria-pressed=true] {
  color: #164447;
  background-color: rgba(43, 187, 191, 0.4) !important;
  border-color: rgba(38, 116, 122, 0.5);
}.n-myft-ui__button:not([disabled]):focus:not(:hover),
.o-hoverable-on .n-myft-ui__button:not([disabled]):hover {
  background-color: rgba(43, 187, 191, 0.1);
  border-color: rgba(38, 116, 122, 0.5);
}.n-myft-ui__button:not([disabled]):active {
  color: #164447;
  border-color: #f7e9d9;
}.n-myft-ui__button:focus:not(:active):not(:hover) {
  -webkit-box-shadow: inset 0 0 0 1px rgba(38, 116, 122, 0.5);
          box-shadow: inset 0 0 0 1px rgba(38, 116, 122, 0.5);
}.n-myft-ui__button[disabled] {
  pointer-events: none;
  opacity: 0.4;
  cursor: default;
}.n-myft-ui__button::-moz-focus-inner {
  border: 0;
  padding: 0;
}.n-myft-ui__button--inverse {
  color: #2bbbbf;
  background-color: rgba(29, 29, 29, 0.5);
  border-color: rgba(38, 116, 122, 0.8);
}.n-myft-ui__button--inverse[aria-selected=true], .n-myft-ui__button--inverse[aria-pressed=true] {
  color: #fff1e0;
  background-color: #214042 !important;
  border-color: rgba(38, 116, 122, 0.8);
}.n-myft-ui__button--inverse:not([disabled]):focus:not(:hover),
.o-hoverable-on .n-myft-ui__button--inverse:not([disabled]):hover {
  background-color: #1f3030;
  border-color: rgba(43, 187, 191, 0.6);
}.n-myft-ui__button--inverse:not([disabled]):active {
  color: #fff1e0;
}.n-myft-ui__button--medium {
  background-size: 16px;
  min-height: 26px;
  min-width: 26px;
  padding: 5px 8px 5px 8px;
  font-size: 14px;
  line-height: 14px;
  border-width: 1px;
}.n-myft-ui__button--big {
  background-size: 18px;
  min-height: 36px;
  min-width: 36px;
  padding: 8px 18px 8px 18px;
  font-size: 18px;
  line-height: 18px;
  border-width: 1px;
}.n-myft-ui__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}.n-myft-ui__legend {
  font-family: sans-serif;
  font-size: 13.05px;
  line-height: 17px;
  font-weight: 400;
  margin-bottom: 10px;
}.o-typography--loaded-sans .n-myft-ui__legend {
  font-family: MetricWeb, sans-serif;
  font-size: 15px;
}.n-myft-ui--follow {
  position: relative;
}.n-myft-ui--follow .n-myft-ui__button {
  position: relative;
  padding-left: 26px;
}.n-myft-ui--follow .n-myft-ui__button:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:plus?source=o-icons&tint=%2326747A,%2326747A&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:plus?source=o-icons&tint=%2326747A,%2326747A&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 1px;
  margin: -12px 1px 0 0;
}.n-myft-ui--follow .n-myft-ui__button[aria-pressed="true"]:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?source=o-icons&tint=%2326747A,%2326747A&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?source=o-icons&tint=%2326747A,%2326747A&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
}.n-myft-ui--follow .n-myft-ui__button--inverse {
  position: relative;
  padding-left: 26px;
}.n-myft-ui--follow .n-myft-ui__button--inverse:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:plus?source=o-icons&tint=%232BBBBF,%232BBBBF&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:plus?source=o-icons&tint=%232BBBBF,%232BBBBF&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 1px;
  margin: -12px 1px 0 0;
}.n-myft-ui--follow .n-myft-ui__button--inverse[aria-pressed="true"]:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?source=o-icons&tint=%232BBBBF,%232BBBBF&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?source=o-icons&tint=%232BBBBF,%232BBBBF&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
}.n-myft-ui--instant {
  position: relative;
}.n-myft-ui--instant .n-myft-ui__button {
  position: relative;
  padding-left: 26px;
}.n-myft-ui--instant .n-myft-ui__button:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%2326747A,%2326747A&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%2326747A,%2326747A&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 1px;
  margin: -12px 1px 0 0;
}.n-myft-ui--instant .n-myft-ui__button[aria-pressed="true"]:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%2326747A,%2326747A&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%2326747A,%2326747A&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
}.n-myft-ui--instant .n-myft-ui__button--inverse {
  position: relative;
  padding-left: 26px;
}.n-myft-ui--instant .n-myft-ui__button--inverse:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%232BBBBF,%232BBBBF&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%232BBBBF,%232BBBBF&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 1px;
  margin: -12px 1px 0 0;
}.n-myft-ui--instant .n-myft-ui__button--inverse[aria-pressed="true"]:before {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%232BBBBF,%232BBBBF&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:mail?source=o-icons&tint=%232BBBBF,%232BBBBF&format=png&width=24") \9;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
}.js .myft-ui__core-text {
  display: none;
}.myft-ui__logo {
  border: 0;
}.myft-ui__icon {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-myft?source=next&tint=%23FFFFFF,%23FFFFFF&format=svg");
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-myft?source=next&tint=%23FFFFFF,%23FFFFFF&format=png&width=16") \9;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  vertical-align: baseline;
  width: 34px;
  margin: 0 8px -5px;
}.n-myft-digest-promo {
  display: none;
}
/*# sourceMappingURL=head.css.map*/
