$triangle-size:15px;

.n-tooltip {
	background-color: white;
	max-width: 250px;
	padding: 15px 30px 15px 20px;
	border-radius: 5px;
	filter: drop-shadow(-4px 4px 12px rgba(0, 0, 0, 0.5));
	border: 1px solid getColor('black-20');
	position: absolute;
	opacity: 0;
	transform: translateY(50%);
	transition: opacity 500ms $o-visual-effects-transition-fade, transform 500ms $o-visual-effects-transition-slide;
	z-index: 2;
	white-space: normal !important;

	* {
		margin: 0;
	}

	* + * {
		margin-top: 1em;
	}

	&--visible {
		opacity: 1;
		transform: translateY(0);
	}

	&--hidden {
		display: none;
	}

	&:after {
		content: "";
		position: absolute;
		top: -30px;
		left: calc(50% + 15px);
		transform: translateX(-100%);
		border: $triangle-size solid transparent;
		border-bottom-color: white;
		display: block;
		width: 0;
	}

	&.n-tooltip--left-tail:after {
		transform: none;
		left: 20px;
	}

}

.n-tooltip__close {
	position: absolute;
	right: 5px;
	top: 5px;
	@include oIconsGetIcon('cross', getColor('black-80'), 20);
	opacity: 0.4;
	border: 0;
	margin: 0;
	cursor: pointer;
}
