<div class="o-header__row o-header__top" data-trackable="header-top">
	<div class="o-header__container">
		<div class="o-header__top-wrapper">
			<div class="o-header__top-column o-header__top-column--center">
				<div class="o-header__top-logo {{#if @root.flags.perfJanky}}o-header__top-logo--inlined{{/if}}">
					{{#if @root.flags.perfJanky}}
					{{#inline file='logo-images/src/brand-ft-masthead.svg'}}{{/inline}}
					{{/if}}
					<span class="o-header__visually-hidden">Financial Times</span>
				</div>
			</div>
		</div>
	</div>
</div>
