$_n-ui-grid-applied: false !default;

// Set gutters to be slightly smaller than the default on larger screens
$o-grid-gutters: (
	default: 10px,
	M:       16px
);
$o-grid-ie8-rules: none !default;
$o-grid-mode: snappy !default;
// Need to turn this on as `hide` gets disabled otherwise.
// $o-grid-human-friendly-selectors: false;
$o-grid-offset-selectors: false;

@import 'o-grid/main';

@if $_n-ui-grid-applied == false {

	@if nUiHas(grid) {
		@include nUiCriticalStart();
		@include oGridSurfaceCurrentLayout;
		@include oGridGenerate;
		@include nUiCriticalEnd();
	}

	$_n-ui-grid-applied: true !global;

} @else {
	@warn "n-ui/grid should only be imported once.";
}

@mixin _nUiGridOffsetRules($layout, $mode, $amount) {
	@if $mode == offset {
		@include oGridOffset($amount);
	} @else if $mode == pull {
		@include oGridPull($amount);
	} @else if $mode == push {
		@include oGridPush($amount);
	}
}

@mixin nUiGridOffset($layout: null, $amount: 1, $mode: offset) {

	$selector: $mode + $amount;
	@if $layout {
		$selector: $layout + $selector;
	}

	[data-o-grid-colspan~="#{$selector}"] {
		@if $layout {
			@include oGridRespondTo($layout) {
				@include _nUiGridOffsetRules($layout, $mode, $amount);
			}
		} @else {
			@include _nUiGridOffsetRules($layout, $mode, $amount);
		}
	}
}
