$_n-ui-grid-applied: false !default;

// Set gutters to be slightly smaller than the default on larger screens
$o-grid-gutters: (
	default: 10px,
	M:       16px
);
$o-grid-ie8-rules: none;
$o-grid-mode: snappy !default;
$o-grid-human-friendly-selectors: false;
$o-grid-offset-selectors: false;

@import 'o-grid/main';

@if $_n-ui-grid-applied == false {

	@if nUiHas(grid) {
	  /*#{nUiCriticalStart()}*/
		@include oGridSurfaceCurrentLayout;
		@include oGridGenerate;
	  /*#{nUiCriticalEnd()}*/
	}

	$_n-ui-grid-applied: true;

} @else {
	@warn "n-ui/grid should only be imported once.";
}
