////
/// @group n-ui grid
////
$_n-ui-grid-applied: false !default;

// Set gutters to be slightly smaller than the default on larger screens
$o-grid-gutters: (
	default: 10px,
	M:       16px
);

$o-grid-ie8-rules: none !default;
$o-grid-mode: snappy !default;

// Need to turn this on as `hide` gets disabled otherwise.
$o-grid-human-friendly-selectors: false;
$o-grid-shuffle-selectors: false;


@import 'o-grid/main';

@if $_n-ui-grid-applied == false {

	@if nUiHas(grid) {
		@include nUiCriticalStart();
		@include oGridSurfaceCurrentLayout;
		@include oGridGenerate;

		// As they're quite widely used output the 'hide' selectors
		// TODO: (for now, eventually should remove in v2 and go through the site changing them all to 0)
		// Yes I'm using @extend - get used to it :b !
		[data-o-grid-colspan~="hide"] {
			@extend [data-o-grid-colspan~="0"];
		}

		@each $layout-name in $_o-grid-layout-names {
			[data-o-grid-colspan~="#{$layout-name}hide"] {
				@extend [data-o-grid-colspan~="#{$layout-name}0"] !optional;
			}
		}

		[data-o-grid-colspan~="center"] {
			@include oGridCenter;
		}

		@include nUiCriticalEnd();
	}

	$_n-ui-grid-applied: true !global;

} @else {
	@warn "n-ui/grid should only be imported once.";
}

@mixin _nUiGridOffsetRules($layout, $mode, $columns) {
	@if $mode == offset {
		@include oGridOffset($columns);
	} @else if $mode == pull {
		@include oGridPull($columns);
	} @else if $mode == push {
		@include oGridPush($columns);
	}
}

/// Grid column offset
/// @param {Null|String} $layout-name - S to XL or null
/// @param {Number} $columns - 1 to 12
/// @param {String} $mode - offset, push or pull
@mixin nUiGridOffset($layout-name: null, $columns: 1, $mode: offset) {
	$selector: $mode + $columns;

	@if $layout-name {
		$selector: $layout-name + $selector;
	}

	[data-o-grid-colspan~="#{$selector}"] {
		@if $layout-name {
			@include oGridRespondTo($layout-name) {
				@include _nUiGridOffsetRules($layout-name, $mode, $columns);
			}
		} @else {
			@include _nUiGridOffsetRules($layout-name, $mode, $columns);
		}
	}
}
