@import 'n-sliding-popup/main';

.subscription-prompt,
.subscription-prompt--us {
	max-width: 500px;
}

.subscription-prompt--flag {
	background-color: #E76836;
	border-radius: 3px;
	padding: 4px 9px 5px;
	text-align: center;
	color: white;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 17px;
	margin-bottom: 10px;
	display: inline-block;
}

.subscription-prompt .subscription-prompt--heading {
	@include oTypographySansBold(m);
	color: oColorsGetPaletteColor('black-80');
	margin: 0 0 4px;

	@include oGridRespondTo(M) {
		@include oTypographySansBold(l);
	}
}

.subscription-prompt .subscription-prompt--subheading {
	@include oTypographySansBold(s);
	font-weight: 300;
	color: oColorsGetPaletteColor('black-80');
	display: inline-block;
	margin-bottom: 20px;

	@include oGridRespondTo(M) {
		@include oTypographySans(m);
	}
}

.subscription-prompt--benefits {
	@include oTypographySansBold(s);
	display: none;
	list-style: none;
	font-weight: normal;
	padding: 0;
	margin: 0;

	@include oGridRespondTo(M) {
		display: block;
	}
}

.subscription-prompt--benefit {
	position: relative;
	margin-left: 20px;
	margin-bottom: 6px;
	color: oColorsGetPaletteColor('black-80');

	&:before {
		@include oIconsGetIcon('tick', #35bd14, 14, $iconset-version: 1);
		content: '';
		margin-right: 4px;
		position: absolute;
		top: 2px;
		left: -20px;
	}
}

.subscription-prompt .subscription-prompt--subscribe-btn {
	@include oButtons(medium, standard);
	@include oButtonsSize(small);
	@include oButtonsTheme(standout);

	font-size: 16px;
	text-transform: none;
	padding: 5px 9px 7px;
	margin-top: 8px;

	@include oGridRespondTo(M) {
		margin-top: 24px;
		width: 140px;
	}
}

