$icon-width-s: 90px;
$icon-width-m: 90px;

.n-myft-digest-promo {
  @include clearfix();
  @include oGridColspan($span: 12);

  display: none;
  position: relative;
  float: none;
  background-color: #fdf8f2;
  border-bottom: 1px solid #cec6b9;
  border-top: 1px solid #cec6b9;
}

.n-myft-digest-promo--enabled {
  display: block;
}

.n-myft-digest-promo__container {
  @include oGridRespondTo('M') {
    @include oGridColspan($span: 7);
    @include oGridCenter;
  }
  top: -10px;
}

.n-myft-digest-promo-dismiss-btn__container {
    @include oGridRespondTo('M') {
    @include oGridColspan($span: 7);
    @include oGridCenter;
  }
}

.n-myft-digest-promo__dismiss-btn {
  &::before {
    @include oIconsGetIcon('cross', #666666, 11);
    content: '';
    top: 1px;
  }
  float: right;
  background-color: transparent;
  border-color: transparent;
}

.n-myft-digest-promo__content {

  position: relative;
  padding-left: $icon-width-s;

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: $icon-width-s;
    height: 80px;
    left: 0px;
    background-image: url("https://next-geebee.ft.com/image/v1/images/raw/https%3A%2F%2Fnext-geebee.ft.com%2Fassets%2Fmyft-alerts-prefs%2Fenvelope.svg?source=next&fit=scale-down&compression=best&width=50https://next-geebee.ft.com/image/v1/images/raw/https%3A%2F%2Fnext-geebee.ft.com%2Fassets%2Fmyft-alerts-prefs%2Fenvelope.svg?source=next&fit=scale-down&compression=best&width=50");
    background-repeat: no-repeat;
    background-size: 60px auto;
    background-position: 10px 0;
  }

  @include oGridRespondTo('M') {
    padding-left: $icon-width-m;

    &::before {
      width: $icon-width-m;
    }
  }
}

.n-myft-digest-promo__heading {
  margin-top: 0px;
  margin-bottom: 7px;
}

.n-myft-digest-promo__para {
  margin-top: 0px;
}

.n-myft-digest-promo__cta-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 12px;
  clear: both;
}

.n-myft-digest-promo__cta-btn {
  display: inline-block;
  text-transform: none;
  width: 100%;
  margin-left: 80px;

  @include oGridRespondTo('M') {
    min-width: 150px;
    margin-left: 0;
  }
}
