$o-visual-effects-transition-slide: cubic-bezier(1, 0, 0.5, 1.275);

@include oGridRespondTo($until: M) {
	.offline-notification-toast {
		position: fixed;
		width: 90%;
		top: 100%;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		background-color: oColorsGetPaletteColor('cold-2');
		color: white;
		text-align: center;
		display: table;
		padding: 10px 0;
		opacity: 0.75;
		border-radius: 50px;
		z-index: 50;
		transition: transform 1s $o-visual-effects-transition-slide;

		&.display {
			transform: translateY(-70px);
		}
	}

	.offline-notification-toast__message {
			display: table-cell;
			vertical-align: middle;
	}
}
