@include nUiCriticalStart('overlay');

$_n-ui-overlay-applied: false !default;
$_n-ui-overlay-is-silent: nUiHas('overlay') == false or $_n-ui-overlay-applied == true;
$o-overlay-is-silent: $_n-ui-overlay-is-silent;

@import 'o-overlay/main';

@if $_n-ui-overlay-is-silent == false {
	body .o-overlay,
	body .o-overlay-shadow {
		@include zIndexFor(overlay);
	}

	$_n-ui-overlay-applied: true !global;
	$o-overlay-is-silent: true !global;
}

@include nUiCriticalEnd('overlay');
