@if nUiApply('myft') {
	@include nUiCriticalStart('myft');

	.n-myft-ui__fieldset {
		border: 0;
		padding: 0;
		margin: 0;
	}

	.n-myft-ui__legend {
		@include oTypographySans(s);
		margin-bottom: 10px;
	}

	@include nUiCriticalEnd('myft');
}
