@import 'o-visual-effects/main';
@import 'o-icons/main';

.n-welcome-banner {
	position: relative;
	padding: 16px;
	background: getColor('teal-1');
	color: getColor('white');

	// @include oGridRespondTo('L') {
	// 	padding: 24px 16px;
	// }

	@media print {
		display: none;
	}

	padding-left: 16px;
	padding-right: 16px;

	margin: 16px 0;

	@include oGridRespondTo('M') {
		margin: 24px 0;
	}
}

.n-welcome-banner__wrapper {
	display: table;
	width: 100%;
}

.n-welcome-banner__column {
	display: table-cell;
	vertical-align: middle;
}

.n-welcome-banner__column--fill {
	width: 100%;
}

.n-welcome-banner__column--actions {
	text-align: right;
	padding: 0 $spacing-unit;
	@include oGridRespondTo('M') {
		white-space: nowrap;
	}
}

.n-welcome-banner__logo {
	display: inline-block;
	background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-ft-logo-square-coloured?source=next&format=png&width=50');
	background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-ft-logo-square-coloured?source=next&format=svg');
	background-size: contain;
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.n-welcome-banner__heading {
	@include oTypographySans('m', $load-progressively: true);
	padding: 0;
	display: inline-block;
	margin: 0;
	@include oGridRespondTo('M') {
		white-space: nowrap;
	}
}

.n-welcome-banner__strapline {
	@include oTypographySans('m', $load-progressively: true);
	padding: 0 $spacing-unit 0 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	display: none;
	margin: 0;

	@include oGridRespondTo(M) {
		display: inline;
	}
}

.n-welcome-banner__button {
	@include oButtons($size: 'big', $theme: 'standout');
	background: getColor('white');
	color: getColor('teal-1');
	text-transform: capitalize;
	white-space: nowrap;
	@include oGridRespondTo('S') {
		text-transform: none;
	}
}

.n-welcome-banner__button--secondary {
	@include oButtons($size: 'big', $theme: 'standout');
	color: getColor('white');
	background-color: getColor('teal-1');
	border-color: getColor('white');
}

.n-welcome-banner__link-action {
	display: inline;
	margin: 0 0 0 $spacing-unit/2;
	color: getColor('white');
	border-bottom-color: getColor('white');
	&:hover,
	&:focus {
		color: getColor('white');
	}
	@include oGridRespondTo('M') {
		display: inline-block;
	}
}

.n-welcome-banner__column--text {
	padding-right: 0px;
	display: block;
	margin-bottom: 10px;

	@include oGridRespondTo(M) {
		display: table-cell;
		margin-bottom: 0px;
		padding-right: 10px;
	}
}
