$_n-ui-welcome-message-applied: false;

.n-welcome {
	display: none;
}





// This hackily means footer is an alias for welcome-message in the styles as the welcome message
// is the only footer we have currently.
// This aliasing is not replicated in the js because it woudl turn on the stickiness of the welcome
// message, incompatible in prnciple with the 'discrete' preset
@if $_n-ui-welcome-message-applied == false and (nUiHas(welcomeMessage) )  {

	$n-welcome-spacing: 10px;

	.n-welcome {
		display: block;
		margin: 25px auto 0 auto;
		background-color: getColor('warm-1');

	}

	.n-welcome__container {
		padding: $n-welcome-spacing 0px;
		align-items: center;
	}

	.n-welcome__message--default {
		margin-bottom: $n-welcome-spacing;

		@include oGridRespondTo(S) {
			margin-bottom: 0;
		}

		@include oGridRespondTo(M) {
			display: none;
		}
	}

	.n-welcome__message--medium {
		display: none;
		color: getColor('grey-tint3');
		padding-right: $n-welcome-spacing * 2;

		@include oGridRespondTo(M) {
			display: block;
		}

		.n-welcome__message__text {
			@include oTypographySansSize(s);
			font-weight: normal;
		}
	}

	.n-welcome__message__heading {
		@include oTypographySansSize(m);
		margin: 0 0 $n-welcome-spacing 0;
	}

	.n-welcome__message__text {
		font-weight: bold;
		margin: 0;
		vertical-align: middle;
	}

	.n-welcome--fixed {
		position: fixed;
		width: 100%;
	}

	.n-welcome__actions {
		width: 100%;
		overflow: hidden;
	}

	.n-welcome__actions__action {
		display: inline-block;
		vertical-align: middle;
	}

	.n-welcome__actions__action--feedback {
		margin-right: 10px;
	}

	.n-welcome__feedback-button-label--default {
		@include oGridRespondTo(M) {
			display:none;
		}
	}

	.n-welcome__feedback-button-label--medium {
		display: none;
		@include oGridRespondTo(M) {
			display:inline;
		}

	}

	.n-welcome__actions__action--leave {
		padding-left: $n-welcome-spacing;
		border-left: 1px solid getColor('grey-tint1');
	}


	.n-welcome__actions__action--optout {
		display: none;

		@include oGridRespondTo(L) {
			display: inline-block;
		}
	}

	.n-welcome__actions__action--webapp {
		display: none;
	}



	$_n-ui-welcome-message-applied: true !global;



}

@media print {
	.n-welcome {
		display: none;
	}
}
