// TODO this is only used a in a handful of places.
// We should look into killing it off in here
@mixin nLists() {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin nListsCols() {
	overflow: auto;
	width: 100%;

	& > li {
		float: left;
		margin-left: 2%;
		width: 49%;

		&:nth-child(odd) {
			margin-left: 0;
		}
	}
}

@mixin nListsItem($use-case: n-lists) {
	@include oColorsFor($use-case, background);
	border: 1px solid rgba(oColorsGetColorFor($use-case, border), 0.25);
	border-width: 0 0 1px;
	min-width: 200px;
	vertical-align: top;

	> a {
		@include nListsItemLink($use-case);
	}
}

@mixin nListsItemLink($use-case: n-lists) {
	@if($use-case == n-lists-inversed) {
		@include nLinksTopic($inversed: true);
	} @else if ($use-case == n-lists-links-inversed) {
		@include nLinksBody($inversed: true);
		@include oTypographySansBold(s);
		text-transform: uppercase;
	} @else if ($use-case == n-lists-links) {
		@include nLinksBody();
		@include oTypographySansBold(s);
		text-transform: uppercase;
	} @else {
		@include nLinksTopic();
	}
	display: block;
	padding: 2px 15px 2px $spacing-unit/2;
	position: relative;
	text-decoration: none;
	border-bottom-width: 0;
	&:after {
		@include nextIcon(arrow-right, oColorsGetColorFor($use-case, border), 10);
		content: '';
		opacity: 0.25;
		position: absolute;
		right: 0;
		top: 8px;
	}
	&:hover,
	&:focus {
		background: rgba(oColorsGetColorFor(#{$use-case}-hover, background), 0.1);
		border-bottom-width: 0;
		&:after {
			//TODO: split nextIcon out to avoid duping this
			@include nextIcon(arrow-right, oColorsGetColorFor(#{$use-case}-hover, border), 10);
		}
	}
}
