$_n-ui-typography-applied: false !default;
$o-fonts-path: 'https://next-geebee.ft.com/build/v2/files/o-fonts-assets@1.3.0/';

@import 'o-fonts/main';

$o-typography-progressive-fonts: serifDisplay, sansData, sansDataBold, sansBold;
@if $_n-ui-typography-applied == false and nUiHas(typography) {
	$o-typography-is-silent: false;
}

@import 'o-typography/main';

$o-typography-is-silent: true;

@import 'lists';

@mixin nLinksBody($inversed: false) {
	@if ($inversed) {
		@include oColorsFor(link-inversed, text);
	} @else {
		@include oColorsFor(link, text);
	}
	border-bottom: 1px dotted getColorFor(link, text);
	text-decoration: none;

	&:hover,
	&:focus {
		@if ($inversed) {
			color: lighten(getColorFor(link-inversed, text), 5%);
		} @else {
			color: getColorFor(link-hover, text);
		}
		border-bottom-color: transparent;
	}
}


@mixin nLinksHeadline($article-type: article-standard) {
	@include oColorsFor($article-type, text);
	border-bottom-color: transparent;
	text-decoration: none;

	&:hover,
	&:focus {
		@include oColorsFor($article-type, border);
		border-bottom-style: dotted;
		border-bottom-width: 1px;
	}
	&:visited {
		color: oColorsGetPaletteColor('grey-tint3');
	}
}

@mixin nLinksTopic($inversed: false) {
	@if ($inversed) {
		@include oColorsFor(topic-inversed, text);
	} @else {
		@include oColorsFor(topic, text);
	}
	@include oTypographySansBold(s);
	border-bottom-color: transparent;
	text-decoration: none;

	&:hover,
	&:focus {
		@if ($inversed) {
			border-bottom-color: lighten(getColorFor(topic-inversed, text), 5%);
			color: lighten(getColorFor(topic-inversed, text), 5%);
		} @else {
			border-bottom-color: darken(getColorFor(topic, text), 20%);
			color: darken(getColorFor(topic, text), 20%);
		}
		border-bottom-style: dotted;
		border-bottom-width: 1px;
	}
}

@if $_n-ui-typography-applied == false {
	@if nUiHas(typography) {
		/*#{nUiCriticalStart()}*/
		@include oFontsInclude(FinancierDisplayWeb);
		@include oFontsInclude(MetricWeb);
		@include oFontsInclude(MetricWeb, $weight: semibold);

		html {
			@include oColorsFor(page);
			font-family: sans-serif;
			font-size: 0.82em;

			// scss-lint:disable SelectorFormat
			&.o-typography--loaded-sansData {
				font-family: $o-typography-sans;
				font-size: initial;
			}
		}

	  a {
			@include nLinksBody();
		}
		/*#{nUiCriticalEnd()}*/
	}
	$_n-ui-typography-applied: true;

} @else {
	@warn "n-ui/typography should only be imported once.";
}
