@include nUiCriticalStart;

$o-fonts-path: 'https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.0/';
// TODO - once o-typography lets us control font loading in non-silent mode we should unsilence it
$o-typography-progressive-fonts: sans, sansBold, sansData, sansDataBold, serifDisplay;

@import 'o-fonts/main';
@import 'o-typography/main';
@import 'mixins';
@import 'lists';

@if nUiApply('typography') {
	@include oFontsInclude(FinancierDisplayWeb);
	@include oFontsInclude(MetricWeb);
	@include oFontsInclude(MetricWeb, $weight: semibold);

	html {
		@include oColorsFor(page);
		font-family: sans-serif;
		font-size: 0.8125em;

		// scss-lint:disable SelectorFormat
		&.o-typography--loaded-sansData {
			font-family: $o-typography-sans;
			font-size: initial;
		}
	}

	a {
		@include nLinksBody();
	}

}

@include nUiCriticalEnd;
