<footer id="site-footer"
		class="o-footer o-footer--{{#unless nUi.footer.themeLight}}theme-dark{{else}}theme-light{{/unless}}"
		data-o-component="o-footer">
	<div class="o-footer__container">

		{{#ifEquals nUi.footer.menu 'no-menu'}}
		{{>n-ui/footer/partials/legal/template}}
		{{else}}
		{{>n-ui/footer/partials/menu/template}}
		{{/ifEquals}}

		<div class="o-footer__copyright" role="contentinfo">
			<small>
				Markets data delayed by at least 15 minutes. &#xA9; THE FINANCIAL TIMES LTD {{@root.currentYear}}.
				<abbr title="Financial Times" aria-label="F T">FT</abbr> and &#x2018;Financial Times&#x2019; are
				trademarks of The Financial Times Ltd.<br>
				The Financial Times and its journalism are subject to a self-regulation regime under the <a
					href="http://aboutus.ft.com/en-gb/ft-editorial-code/" aria-label="F T Editorial Code of Practice">FT
				Editorial Code of Practice</a>.
			</small>
		</div>
	</div>

	<div class="o-footer__brand">
		<div class="o-footer__container">
			<div class="o-footer__brand-logo"></div>
		</div>
	</div>
</footer>
