<!DOCTYPE HTML>
<html class="no-js core">
<head>
	<title>next.ft.com acid test</title>
	<style>
		.core .enhanced,
		.enhanced .core {
			display: none;
		}

		.test:after {
			content: '';
			display: block;
			float: right;
			height: 30px;
			min-width: 30px;
			background: red;
		}

		.test.ok:after {
			background: lime;
		}

		.test.polyfill:after {
			content: 'polyfill';
		}

		.test.native:after {
			content: 'native';
		}

		.experience {
			background: yellow;
			display: inline-block;
		}

	</style>
</head>
<body>
	{{>ctm}}
	<h1>next.ft.com acid test?</h1>
	<h2>This browser should receive the <span class="experience core">core</span><span class="experience enhanced">enhanced</span> experience</h2>
	<p>Note - for core experience, aside from the image loading test, nothing should appear below</p>
	<h2 class="enhanced test" data-feature="app">Does it run application code?</h2>
	<h2 class="enhanced test" data-feature="fetch">Is fetch defined?</h2>
	<h2 class="enhanced test" data-feature="requestAnimationFrame">Is requestAnimationFrame defined?</h2>
	<h2 class="enhanced test" data-feature="Promise">Is Promise defined?</h2>
	<h2 class="enhanced test" data-feature="matchMedia">Is matchMedia defined?</h2>
	<h2 class="enhanced test" data-feature="Array.prototype.find">Is Array.prototype.find defined?</h2>
	<h2 class="enhanced test" data-feature="Array.prototype.findIndex">Is Array.prototype.findIndex defined?</h2>
	<h2 class="enhanced test" data-feature="Array.from">Is Array.from defined?</h2>
	<h2 class="enhanced test" data-feature="Array.isArray">Is Array.isArray defined?</h2>
	<h2 class="enhanced test" data-feature="Array.prototype.every">Is Array.prototype.every defined?</h2>
	<h2 class="enhanced test" data-feature="Array.prototype.filter">Is Array.prototype.filter defined?</h2>
	<h2 class="enhanced test" data-feature="Array.prototype.forEach">Is Array.prototype.forEach defined?</h2>
	<h2 class="enhanced test" data-feature="Array.prototype.indexOf">Is Array.prototype.indexOf defined?</h2>
	<h2 class="enhanced test" data-feature="Array.prototype.lastIndexOf">Is Array.prototype.lastIndexOf defined?</h2>
	<h2 class="enhanced test" data-feature="Array.prototype.map">Is Array.prototype.map defined?</h2>
	<h2 class="enhanced test" data-feature="Array.prototype.reduce">Is Array.prototype.reduce defined?</h2>
	<h2 class="enhanced test" data-feature="Array.prototype.reduceRight">Is Array.prototype.reduceRight defined?</h2>
	<h2 class="enhanced test" data-feature="Array.prototype.some">Is Array.prototype.some defined?</h2>
	<h2 class="enhanced test" data-feature="CustomEvent">Is CustomEvent defined?</h2>
	<h2 class="enhanced test" data-feature="Date.now">Is Date.now defined?</h2>
	<h2 class="enhanced test" data-feature="Date.prototype.toISOString">Is Date.prototype.toISOString defined?</h2>
	<h2 class="enhanced test" data-feature="Element.prototype.classList">Is Element.prototype.classList defined?</h2>
	<h2 class="enhanced test" data-feature="Element.prototype.cloneNode">Is Element.prototype.cloneNode defined?</h2>
	<h2 class="enhanced test" data-feature="Element.prototype.closest">Is Element.prototype.closest defined?</h2>
	<h2 class="enhanced test" data-feature="Element.prototype.matches">Is Element.prototype.matches defined?</h2>
	<h2 class="enhanced test" data-feature="JSON">Is JSON defined?</h2>
	<h2 class="enhanced test" data-feature="Object.assign">Is Object.assign defined?</h2>
	<h2 class="enhanced test" data-feature="Object.create">Is Object.create defined?</h2>
<!-- 	<h2 class="enhanced test" data-feature="Object.defineProperties">Is Object.defineProperties defined?</h2>
	<h2 class="enhanced test" data-feature="Object.defineProperty">Is Object.defineProperty defined?</h2> -->
	<h2 class="enhanced test" data-feature="Object.getOwnPropertyNames">Is Object.getOwnPropertyNames defined?</h2>
	<h2 class="enhanced test" data-feature="Object.getPrototypeOf">Is Object.getPrototypeOf defined?</h2>
	<h2 class="enhanced test" data-feature="Object.keys">Is Object.keys defined?</h2>
	<!-- <h2 class="enhanced test" data-feature="PageVisibility">Is PageVisibility defined?</h2> -->
	<h2 class="enhanced test" data-feature="String.prototype.includes">Is String.prototype.includes defined?</h2>
	<h2 class="enhanced test" data-feature="String.prototype.trim">Is String.prototype.trim defined?</h2>
	<h2 class="enhanced test" data-feature="document.querySelector">Is document.querySelector defined?</h2>
	<h2 class="test" data-feature="HTMLPictureElement">Is HTMLPictureElement defined?</h2>
	<p>A picture of Nicholas Cage in the film Raising Arizona, by Ethan and Joel Coen, should appear below</p>
	<picture>
		<source srcset="http://www.placecage.com/c/200/300" media="(min-width: 1px)">
	 	<img src="not-an-image.png" alt="This should contain a picture">
	</picture>
	<script>
	window.nextFeatureFlags = [{
		name: 'javascript',
		state: true
	}];
	</script>
	{{>bootstrapper}}
</body>
</html>
