@if nUiApply('syndication') {

	.o-teaser__syndication-indicator {
		display: none;
		width: 12px;
		height: 12px;
		margin-right: 5px;

		&:after {
			content: 'Download';
			color: white;
			background-color: rgba(0, 0, 0, 0.6);
			padding: 5px;
			border-radius: 5px;
			position: absolute;
			display: none;
			font-size: 16px;
		}

		&:hover:after {
			display: block;
		}
	}

	.o-teaser--hero .o-teaser__syndication-indicator {
		width: 16px;
		height: 16px;
	}

	.o-teaser--top-story .o-teaser__syndication-indicator {
		width: 18px;
		height: 18px;
	}

	[data-syndication-user] .o-teaser__syndication-indicator {
		display: inline-block;
	}
}
