////
/// @group n-ui utility mixins
////

/// Basis of n-ui z-indexes
/// @type Number
$n-ui-z-index-basis: 100;

/// Ordered list of z-indexes use cases
/// @type List
$n-ui-z-index-order: (
	'typeahead',
	'banner',
	'meganav',
	'sticky-header',
	'drawer',
	'welcome',
	'overlay',
	'notification'
);

/// Utility for setting z-indexes
/// @param {String} $use-case
/// @output A z-index rule
@mixin zIndexFor($use-case) {
	@warn '`zindexFor` is deprecated, use `nUtilZIndexFor` instead';
	@include nUtilZIndexFor($use-case);
}

@mixin nUtilZIndexFor($use-case) {
	$index: index($n-ui-z-index-order, $use-case);

	@if $index {
		z-index: $n-ui-z-index-basis + $index;
	} @else {
		@warn 'z-index for use case "#{$use-case}" not found.';
	}
}
