// TODO: When we're using nUtilZIndexFor exclusively (we can but live in hope), it'd
// probably be easier to maintain this file if we avoided explicit z-index
// numbers and instead relied on the index of a given use-case within a list
// (rather than a map), like so:
//
// $_stackingOrder: default,
// 					tray,
//					header,
//					overlay,
//					notification;
//
// @mixin nUtilZIndexFor($use-case) {
//		z-index: index($_stackingOrder, $use-case);
// }
//
// Usage: `@include nUtilZIndexFor(header);`
// Output: `z-index: 2;`

// TODO: add the other use-cases
$_zIndexes: (
	overlay: 22,
	notification: 23,
	typeahead: 11,
	banner: 20
);

@mixin zIndexFor($use-case) {
	@warn '`zindexFor` is deprecated, use `nUtilZIndexFor` instead';
	z-index: map-get($_zIndexes, $use-case);
}

@mixin nUtilZIndexFor($use-case) {
	z-index: map-get($_zIndexes, $use-case);
}
