@include nUiCriticalStart('utils');

@import 'mixins';

@if nUiApply('utils') {

	//
	// Layout
	//
	.n-util-clearfix {
		&:before,
		&:after {
			content: " ";
			display: table;
		}

		&:after {
			clear: both;
		}

		*zoom: 1;
	}

	//
	// Display
	//
	.n-util-hide {
		display: none;
	}

	@media screen {
		// scss-lint:disable SelectorFormat
		.n-util-hide\@screen {
			display: none;
		}
	}

	@media print {
		// scss-lint:disable SelectorFormat
		.n-util-hide\@print {
			display: none;
		}
	}

	.n-util-visually-hidden {
		position: absolute;
		clip: rect(0 0 0 0);
		margin: -1px;
		border: 0;
		overflow: hidden;
		padding: 0;
		width: 1px;
		height: 1px;
	}

	.n-util-hide-no-js {
		.no-js & {
			display: none;
		}
	}

	.n-util-hide-js {
		.js & {
			display: none;
		}
	}

	.n-util-hide-core {
		.core & {
			display: none;
		}
	}

	.n-util-hide-enhanced {
		.enhanced & {
			display: none;
		}
	}

	//
	// Text
	//
	.n-utils-text-center {
		text-align: center;
	}

	.n-utils-text-left {
		text-align: left;
	}

	.n-utils-text-right {
		text-align: right;
	}

	.n-utils-truncate {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: normal;
	}

}

@include nUiCriticalEnd('utils');
