$_n-ui-ads-applied: false !default;

@if $_n-ui-ads-applied == false {
	$o-ads-is-silent: false !global;
	.core .o-ads {
		display: none;
	}

	@media print {
		.o-ads {
			display: none !important;
		}
	}
} @else {
	$o-ads-is-silent: true !global;
}

@import "o-ads/main";

@if $_n-ui-ads-applied == false {
	$_n-ui-ads-applied: true !global;
	$o-ads-is-silent: true !global;
}
