<!DOCTYPE html>
{{>layout/partials/html-tag}}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{#title}}{{{this}}} | {{/title}}Financial Times</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#333333">
		<style>html{background-color:#fff1e5;}</style>
		{{#if @root.flags.speedcurveLux}}
		{{>layout/partials/speedcurve-lux}}
		{{/if}}
		{{#unless @root.flags.serviceWorker}}
		{{>n-service-worker/unregister}}
		{{/unless}}
		{{#if setBase}}
		<base target="_parent" href="{{setBase}}">
		{{/if}}
		{{#each dnsPrefetch}}
		<link rel="dns-prefetch" href="{{this}}">
		{{/each}}
		<link rel="preconnect" href="https://spoor-api.ft.com">
		<link rel="preconnect" href="https://session-next.ft.com" crossorigin="use-credentials">
		<link rel="preconnect" href="https://cdn.krxd.net">
		<link rel="preconnect" href="https://beacon.krxd.net">
		<link rel="preconnect" href="https://ads-api.ft.com">
		<link rel="preconnect" href="https://www.googletagservices.com">
		<link rel="preconnect" href="https://partner.googleadservices.com">
		<link rel="preconnect" href="https://securepubads.g.doubleclick.net">
		<link rel="preconnect" href="https://tpc.googlesyndication.com">
		<link rel="preconnect" href="https://imasdk.googleapis.com">
		<link rel="preconnect" href="https://z.moatads.com">

		{{#each preconnect}}
		<link rel="preconnect" href="{{host}}"{{#if crossorigin}} crossorigin="{{crossorigin}}"{{/if}}>
		{{/each}}
		{{>layout/partials/env-setup}}
		{{>layout/partials/stylesheets}}

		<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Abrand-ft-logo-square-coloured?source=update-logos&width=32&height=32&format=png" sizes="32x32">
		<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Abrand-ft-logo-square-coloured?source=update-logos&width=194&height=194&format=png" sizes="194x194">
		<link rel="apple-touch-icon" sizes="180x180" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Abrand-ft-logo-square-coloured?source=update-logos&width=180&height=180&format=png">

		{{#unless __disableMobilePhoneBanner}}
		<meta name="apple-itunes-app" content="app-id=1200842933, affiliate-data=ct=smart-banner&pt=246269, app-argument={{#if canonicalUrl}}{{canonicalUrl}}{{else}}https://www.ft.com{{/if}}">
		{{/unless}}
		{{#if __disableMobilePhoneBanner}}
		<script>
			// Don't show the Android install banner
			window.addEventListener('beforeinstallprompt', function (ev) { ev.preventDefault(); return false; });
		</script>
		{{/if}}
		<link rel="manifest" href="/assets/manifest/manifest-v6.json">

		<meta name="msapplication-TileColor" content="#fff1e0">
		<meta name="msapplication-TileImage" content="https://www.ft.com/__assets/creatives/brand-ft/icons/v3/mstile-144x144.png">

		{{#each openGraph}}
		{{#each this}}
		{{#if this}}
		{{#ifTypeof this 'object'}}
		{{#each this}}
		<meta property="{{@../../key}}:{{@../key}}" content="{{this}}">
		{{/each}}
		{{else}}
		<meta property="{{@../key}}:{{@key}}" content="{{this}}">
		{{/ifTypeof}}
		{{/if}}
		{{/each}}
		{{/each}}
		<meta property="og:locale" content="en_GB">
		<meta property="og:site_name" content="Financial Times">
		{{#unless openGraph.og.type}}
		<meta property="og:type" content="website">
		{{/unless}}
		{{#unless openGraph.fb.pages}}
		<meta property="fb:pages" content="8860325749" />
		{{/unless}}
		{{#each twitterCard}}
		{{#if this}}
		<meta name="twitter:{{@key}}" content="{{this}}">
		{{/if}}
		{{/each}}
		<meta name="twitter:site" content="@FinancialTimes">
		{{#unless openGraph.og.image}}
		<meta name="og:image" content="https://www.ft.com/__assets/creatives/brand-ft/icons/v3/open-graph.png">
		<meta name="twitter:image" content="https://www.ft.com/__assets/creatives/brand-ft/icons/v3/open-graph.png">
		{{/unless}}
		{{#if @root.flags.googleSiteVerificationMeta}}
		<meta name="google-site-verification" content="4-t8sFaPvpO5FH_Gnw1dkM28CQepjzo8UjjAkdDflTw" />
		{{/if}}

		{{#outputBlock 'head'}}{{/outputBlock}}

		<script>
			{{>layout/partials/ctm}}
			{{>layout/partials/enhance-fonts}}
		</script>

		{{#each jsonLd}}
			<script type="application/ld+json">
				{{{json this}}}
			</script>
		{{/each}}
		{{#if @root.flags.moatAdsTraffic}}
			<script async id="moat-ivt" src="https://sejs.moatads.com/financialtimesprebidheader859796398452/yi.js"></script>
		{{/if}}
	</head>
	<body data-next-is-logged-in="{{@root.anon.userIsLoggedIn}}" data-trackable="page:{{@root.__name}}{{#if @root.trackablePageName}}/{{@root.trackablePageName}}{{/if}}">
		{{#if withGcs}}
			<script type="text/javascript">
				(function() {
					var ARTICLE_URL = window.location.href;
					var CONTENT_ID = 'everything';
					document.write(
						'<scr' + 'ipt ' +
						'src="//survey.g.doubleclick.net/survey?site=_ykzfqallocklxfmrw3y6sankbe' +
						'&amp;url=' + encodeURIComponent(ARTICLE_URL) +
						(CONTENT_ID ? '&amp;cid=' + encodeURIComponent(CONTENT_ID) : '') +
						'&amp;random=' + (new Date).getTime() +
						'" type="text/javascript">' + '\x3C/scr' + 'ipt>'
					);
				})();
			</script>
		{{/if}}

		{{#if @root.flags.stickyHeaderAd}}
			{{#outputBlock 'sticky-advert'}}{{/outputBlock}}
		{{/if}}

		<div class="n-layout">
			<div class="n-layout__row n-layout__row--header">
				{{#outputBlock 'above-header'}}{{/outputBlock}}
				{{>n-ui/header/template content=header}}
			</div>
			<div class="n-layout__row n-layout__row--content">
				{{{body}}}
			</div>

			{{>n-feedback/templates/feedback-container}}

			{{#unless @root.flags.hideOutboundLinks}}

			<div class="n-layout__row n-layout__row--footer">
				{{#outputBlock 'footer'}}{{/outputBlock}}
				{{>n-ui/footer/template}}
				{{#unlessEquals nUi.header.variant 'logo-only'}}
					{{>n-ui/header/partials/drawer/template}}
				{{/unlessEquals}}
			</div>
			{{/unless}}
		</div>
	{{>layout/partials/bootstrapper}}
	{{>n-ui/tracking/templates/core-analytics}}
	{{>n-service-worker/appcache/iframe}}

	{{#if @root.flags.fastlyInsights}}
		{{>layout/partials/fastly-insights}}
	{{/if}}
	</body>
</html>
