:root[data-perf-janky="calm"],
:root[data-perf-janky="calm-middle"] {
	.above-header-advert {
		&.o-ads--empty,
		&[data-o-ads-loaded="false"] {
			visibility: visible;
			height: inherit;
			width: inherit;
		}
	}
}