{{#if @root.flags.javascript}}
(function () {
	var classes = document.documentElement.className;
	classes = classes.replace(/\bno-js\b/, 'js');

	// HACK: make the following browsers core as they're unsupported by the polyfill service
	var unsupported = {
		'iOS Facebook in-app browser': function (ua) {
			var iOS = /OS [1-9].* like Mac OS X/.test(ua);
			var fb = /(FBAN|FBAV)/.test(ua);
			return iOS && fb;
		},
		'Samsung frankenchromium': function (ua) {
			var android = /Android/.test(ua);
			var samsung = /SamsungBrowser/.test(ua);
			return android && samsung;
		}
	};

	var isSupported = true;

	for (var browser in unsupported) {
		if (unsupported[browser](navigator.userAgent)) {
			isSupported = false;
			break;
		}
	}

	window.cutsTheMustard = isSupported && (typeof Function.prototype.bind !== 'undefined');

	if (window.cutsTheMustard) {
		classes = classes.replace(/\bcore\b/, 'enhanced');
	}

	document.documentElement.className = classes;
})();
{{else}}
window.cutsTheMustard = false;
{{/if}}
