{{#if @root.cssBundles.inline}}
	<style class="n-layout-head-css">
		{{#each @root.cssBundles.inline}}
			{{{this}}}
		{{/each}}
	</style>
{{/if}}

{{#each @root.cssBundles.lazy}}
		<!--[if gte IE 9]><!-->
		<link data-is-next rel="preload" href="{{path}}" as="style" onload="this.rel='stylesheet';window.ftNextCssFileLoaded()">
		<noscript>
			<link rel="stylesheet" href="{{path}}">
		</noscript>
		<!--<![endif]-->
		<!--[if lt IE 9]>
		<link rel="stylesheet" href="{{path}}">
		<![endif]-->
{{/each}}
{{#each @root.cssBundles.blocking}}
	<link rel="stylesheet" href="{{path}}">
{{/each}}
