@if $_n-ui-welcome-message-is-silent == false {
	.new-footer {
		$n-welcome-spacing: 10px;

		.n-welcome {
			display: block;
			@include oGridContainer;
			margin-top: 25px;
			margin-bottom: 25px;
			//todo this needs to go into o-colors
			background-color: #FADBCB;
			color: getColor('grey-tint4');
			border: 0;
			position: relative;
		}

		.n-welcome--hidden {
			display: none;
		}

		.n-welcome--fixed {
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			display: none;
			max-width: none;
			margin: 0;
			box-shadow: 0 -2px 4px -2px rgba(80, 80, 80, 0.5);

			.n-welcome__actions {
				padding-right: 15px;
			}
		}

		.n-welcome--fixed-visible {
			display: block;
		}

		.n-welcome__container {
			padding: $n-welcome-spacing 0px;
			align-items: center;
		}

		.n-welcome__message--default {
			margin-bottom: $n-welcome-spacing;

			@include oGridRespondTo(S) {
				margin-bottom: 0;
			}

			@include oGridRespondTo(M) {
				display: none;
			}
		}

		.n-welcome__message--medium {
			display: none;
			color: getColor('grey-tint4');
			padding-right: $n-welcome-spacing * 2;

			@include oGridRespondTo(M) {
				display: block;
			}

			.n-welcome__message__text {
				@include oTypographySansSize(s);
				font-weight: normal;
			}
		}

		.n-welcome__message__heading {
			@include oTypographySansSize(m);
			margin: 0 0 $n-welcome-spacing;
		}

		.n-welcome__message__text {
			font-weight: bold;
			margin: 0;
			vertical-align: middle;
			color: getColor('grey-tint4');
		}

		.n-welcome--fixed {
			position: fixed;
			width: 100%;
		}

		.n-welcome__actions {
			width: 100%;
			overflow: hidden;

			@include oGridRespondTo(S) {
				text-align: right;
			}
		}

		.n-welcome__actions__action {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}

		.n-welcome__button {
			@include nButtons($theme:'standout');
		}

		.n-welcome__feedback-button-label--default {
			@include oGridRespondTo(M) {
				display: none;
			}
		}

		.n-welcome__feedback-button-label--medium {
			display: none;
			@include oGridRespondTo(M) {
				display: inline;
			}

		}

		.n-welcome__actions__action--leave {
			padding-left: $n-welcome-spacing;
			border-left: 1px solid getColor('grey-tint1');
		}


		.n-welcome__actions__action--optout {
			display: inline-block;

			&.hidden {
				display: none;
			}
		}

		.n-welcome__actions__action--webapp,
		.n-welcome__actions__action--android {
			display: none;

			&.visible {
				display: inline-block;
			}
		}

		.n-welcome__close {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 20px;
			height: 20px;
			display: block;
			@include oIconsGetIcon('cross-disk', #000000, 20);
			z-index: 5;
			border: 0;
		}

		@media print {
			.n-welcome {
				display: none;
			}
		}
	}
}
