@import 'o-header/main';
@import 'scss/marketing-promo';
@import 'scss/typeahead';
@import 'scss/typeahead-new';
@import 'scss/viewtoggle';

@if nUiApply('header') {

	@include nUiMaybeCritical('header') {

		@include oHeader(('subnav', 'search', 'nav', 'anon', 'megamenu', 'simple'));
		// force display of search row
		// <https://github.com/Financial-Times/o-header/blob/2ebf2cbe6b7508a03e0989ff57f1029e12c0506c/src/scss/rows/_search.scss#L13-L15>
		.core [data-o-header-search] {
			display: block;
		}

		// add next opt-out buttons
		.o-header__drawer-menu-button {
			@include oButtons('medium', 'standout');
			display: block;
			margin: $_o-header-drawer-padding-x;
		}

		.o-header__mega {
			@include nUtilZIndexFor('meganav');
		}

		.o-header__drawer,
		.o-header--sticky {
			display: none;
		}

		// skip links for keyboard users
		.n-skip-link {
			@include zIndexFor('notification');
			position: absolute;
			top: 1em;
			left: -9999px;
			padding: 0.5em 1em;
			background: getColor('purple-1');
			color: getColor('white');

			&:focus {
				@include oEffectsShadowsElevation('high');
				left: 0;
				color: getColor('white');
			}
		}

		@include nUiHeaderMarketingPromo;

	}

	@include oHeaderDrawer;
	@include oHeaderSticky;

	// fix up z-indexes
	.o-header__drawer {
		@include nUtilZIndexFor('drawer');
	}
	.o-header--sticky {
		@include nUtilZIndexFor('sticky-header');
	}

	.o-header__drawer,
	.o-header--sticky {
		display: block;
	}

	.o-header__drawer__viewtoggle {
		display: flex;
		align-items: center;
		padding: 0 16px;
		font-size: 18px;
		width: 100%;
		box-sizing: border-box;
		border-top: 1px solid #cec6b9;
		border-bottom: 1px solid #cec6b9;

		.o-header__viewtoggle__label {
			padding: 12px 12px 12px 0;
		}

		.o-header__viewtoggle__link {
			width: 40px;
			height: 40px;
		}
	}

	.o-header__drawer__view-toggle-item--active {
		color: getColorFor(page, text);
		border: 0;
		cursor: text;
		font-weight: bold;
	}

	@media print {
		.o-header--sticky {
			display: none;
		}
	}

	@if nUiApply('header', 'typeahead') {
		@include nUiHeaderTypeahead;
	}

	.o-header__top-link--myft {
		position: relative;
	}

	@include viewToggle;

}
