@include nUiMaybeCriticalStart('tourTipGroup');

@if nUiApply('tourTipGroup') {

	.tour-tip-group {
		background-color: getColor('warm-5');

		.tour-tip {
			border-top: 1px solid mix(getColor('black'), getColor('warm-5'), 20%);
		}
	}

	.tour-tip-group__item:first-child .tour-tip {
		border-top: 0;
	}

	.tour-tip--outro {
		.tour-tip__text {
			text-align: center;
		}
	}

	@include oGridRespondTo($from: 'M') {
		.tour-tip-group__item:nth-child(odd) {
			.tour-tip__img-container {
				float: right;
				margin: 0 0 0 $spacing-unit*3;
				order: 2;
			}

			.tour-tip__text {
				float: left;
				order: 1;
			}
		}

		.tour-tip--intro {
			.tour-tip__main,
			.tour-tip__img-container {
				overflow: visible;
			}
			.tour-tip__img-container img {
				max-width: none;
			}
		}

		.tour-tip--outro {
			.tour-tip__text {
				width: 100%;
			}
		}
	}

}

@include nUiMaybeCriticalEnd('tourTipGroup');
