@include nUiCriticalStart('forms');

$_n-ui-forms-applied: false !default;
$_n-ui-forms-is-silent: nUiHas('forms') == false or $_n-ui-forms-applied == true;
$o-forms-is-silent: $_n-ui-forms-is-silent;

@import 'o-forms/main';

@if $_n-ui-forms-is-silent == false {
	$_n-ui-forms-applied: true !global;
	$o-forms-is-silent: true !global;
}

@include nUiCriticalEnd('forms');
