
.n-myft-digest-promo {
  position: relative;
  background-color: #fdf8f2;
  border: 1px solid #505050;
}

.sign-up-content {
  position: relative;
}

.n-myft-digest-promo__heading {
  vertical-align: top;
}

.digest-promo-button {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  clear: both;
}

.o-buttons--standout {
  width: 100%;
}

.dismiss-icon {
  &::before {
  @include oIconsGetIcon('cross', #ffffff, 10);
		content: '';
    top: 1px;
  }
  float: right;
}

.n-imafe card__image {
  float: left;
}
