
.email-icon-element, .sign-up-content, .digest-promo-buttons-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.n-myft-digest-promo {
  background-color: #fdf8f2;
  border: 1px solid #505050;
}

.dismiss-icon {
  &::before {
  @include oIconsGetIcon('cross', #ffffff, 10);
		content: '';
    top: 1px;
  }
  float: right;
}

.n-myft-digest-promo-ui__button {
  clear: right;
  float: right;
}
